
{% load static %} <!-- cargar la etiqueta static -->

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <title>BarrioLink</title>
	{% block extra_head %}
    {% endblock %}
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    
    <!-- cargar archivos CSS -->
    <link href="{% static 'css/vendor.min.css' %}" rel="stylesheet" />
    <link href="{% static 'css/default/app.min.css' %}" rel="stylesheet" />

    <!-- ================== BEGIN page-css ================== -->
	<link href="{% static 'plugins/datatables.net-bs5/css/dataTables.bootstrap5.min.css' %}" rel="stylesheet" />
	<link href="{% static 'plugins/datatables.net-responsive-bs5/css/responsive.bootstrap5.min.css' %}" rel="stylesheet" />
	<link href="{% static 'plugins/datatables.net-buttons-bs5/css/buttons.bootstrap5.min.css' %}" rel="stylesheet" />
	<link href="{% static 'plugins/datatables.net-colreorder-bs5/css/colReorder.bootstrap5.min.css' %}" rel="stylesheet" />
	<link href="{% static 'plugins/datatables.net-keytable-bs5/css/keyTable.bootstrap5.min.css' %}" rel="stylesheet" />
	<link href="{% static 'plugins/datatables.net-rowreorder-bs5/css/rowReorder.bootstrap5.min.css' %}" rel="stylesheet" />
	<link href="{% static 'plugins/datatables.net-select-bs5/css/select.bootstrap5.min.css' %}" rel="stylesheet" />
	<!-- ================== END page-css ================== -->
</head>
<body>
	<!-- BEGIN #loader -->
	<!-- <div id="loader" class="app-loader">
		<span class="spinner"></span>
	</div> -->
	<!-- END #loader -->

	<!-- BEGIN #app -->
	<div id="app" class="app app-header-fixed app-sidebar-fixed">
		<!-- BEGIN #header -->
		{% include 'account/users/navbar.html' %}
		<!-- END #header -->
	
		<!-- BEGIN #sidebar -->
		{% include 'account/users/sidebar.html' %}
		<!-- END #sidebar -->

		

			
{% include 'account/users/scripts.html' %}

{% block scripts %}
{% endblock scripts %}
	
  

</body>
</html>