{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- BEGIN #content -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear solicitud</title>
</head>
<body>

    <h2>Formulario de Ejemplo</h2>

    <form method="post" action="/crearsol/">
        {% csrf_token %}
        
        <label for="informacion">Información:</label>
        <input type="text" id="informacion" name="contenido" required>

        <button type="submit">Guardar</button>
    </form>

</body>
</html>
{% endblock content %}

