
{% load static %} <!-- cargar la etiqueta static -->

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <title>BarrioLink</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    
    <!-- cargar archivos CSS -->
    <link href="{% static 'css/vendor.min.css' %}" rel="stylesheet" />
    <link href="{% static 'css/default/app.min.css' %}" rel="stylesheet" />
</head>
<body>
	<!-- BEGIN #loader -->
	<div id="loader" class="app-loader">
		<span class="spinner"></span>
	</div>
	<!-- END #loader -->

	<!-- BEGIN #app -->
	<div id="app" class="app app-header-fixed app-sidebar-fixed">
		<!-- BEGIN #header -->
		{% block navbar %}
		<div id="header" class="app-header">
			<!-- BEGIN navbar-header -->
			<div class="navbar-header">
				<a href="index.html" class="navbar-brand"><span class="navbar-logo"></span> <b>Barrio</b>Link</a>
				<button type="button" class="navbar-mobile-toggler" data-toggle="app-sidebar-mobile">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<!-- END navbar-header -->
			  <!-- BEGIN header-nav -->
			  <div class="navbar-nav">
                <div class="navbar-item dropdown">
                    <a href="#" data-bs-toggle="dropdown" class="navbar-link dropdown-toggle icon">
                        <i class="fa fa-bell"></i>
                        <span class="badge">5</span>
                    </a>
                    
                </div>
                
                <div class="navbar-item navbar-user dropdown">
                    {% if user.is_authenticated %}
                    <a href="#" class="navbar-link dropdown-toggle d-flex align-items-center" data-bs-toggle="dropdown">
                        <img src="{% static 'img/user/user-13.jpg' %}" alt="" />
						 
                        <span>
                            <span class="d-none d-md-inline">{{ user.nombres|title }}</span>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end me-1">
                        <a href="/profile" class="dropdown-item">Editar Perfil</a>
                        <a href="email_inbox.html" class="dropdown-item d-flex align-items-center">
                            Inbox
                            <span class="badge bg-danger rounded-pill ms-auto pb-4px">2</span> 
                        </a>
                        <a href="calendar.html" class="dropdown-item">Calendar</a>
                        <a href="settings.html" class="dropdown-item">Configuraciones</a>
                        <div class="dropdown-divider"></div>
                        <a href="/logout" class="dropdown-item">Cerrar Sesión</a>
                    </div>
                    {% else %}
            
                    <a href="/login" class="navbar-link">Login</a>
                    {% endif %}
                </div>
            </div>
            <!-- END header-nav -->
		</div>
		{% endblock %}
		<!-- END #header -->
	
		<!-- BEGIN #sidebar -->
		{% block sidebar %}
		<div id="sidebar" class="app-sidebar">
			<!-- BEGIN scrollbar -->
			<div class="app-sidebar-content" data-scrollbar="true" data-height="100%">
				<!-- BEGIN menu -->
				<div class="menu">
					<div class="menu-profile">
						<a href="javascript:;" class="menu-profile-link" data-toggle="app-sidebar-profile" data-target="#appSidebarProfileMenu">
							<div class="menu-profile-cover with-shadow"></div>
							<div class="menu-profile-image">
								<img src="{% static 'img/user/user-13.jpg' %}" alt="" />
							</div>
							<div class="menu-profile-info">
								<div class="d-flex align-items-center">
									<div class="flex-grow-1">
										{{ user.nombres|title }} {{ user.apellidos|title }}
									</div>
									<div class="menu-caret ms-auto"></div>
								</div>
								<small>
									{% if user.is_hoa_admin %}
            							Administrador JJVV
        							{% else %}
            							Usuario
        							{% endif %}
								</small>
							</div>
						</a>
					</div>
					<div id="appSidebarProfileMenu" class="collapse">
						<div class="menu-item pt-5px">
							<a href="javascript:;" class="menu-link">
								<div class="menu-icon"><i class="fa fa-cog"></i></div>
								<div class="menu-text">Settings</div>
							</a>
						</div>
						<div class="menu-item">
							<a href="javascript:;" class="menu-link">
								<div class="menu-icon"><i class="fa fa-pencil-alt"></i></div>
								<div class="menu-text"> Send Feedback</div>
							</a>
						</div>
						<div class="menu-item pb-5px">
							<a href="javascript:;" class="menu-link">
								<div class="menu-icon"><i class="fa fa-question-circle"></i></div>
								<div class="menu-text"> Helps</div>
							</a>
						</div>
						<div class="menu-divider m-0"></div>
					</div>
					<div class="menu-header">Navigation</div>
					<div class="menu-item has-sub">
						<a href="javascript:;" class="menu-link">
							<div class="menu-icon">
								<i class="fa fa-sitemap"></i>
							</div>
							<div class="menu-text">Gestión de Personas</div>
							<div class="menu-caret"></div>
						</a>
						<div class="menu-submenu">
							<div class="menu-item">
								<a href="adm/users_admin.html" class="menu-link"><div class="menu-text">Validación Cuentas de Usuario</div></a>
							</div>
							<div class="menu-item">
								<a href="index_v2.html" class="menu-link"><div class="menu-text">Directorio de Personas</div></a>
							</div>
						</div>
					</div>
					<div class="menu-item has-sub">
						<a href="javascript:;" class="menu-link">
							<div class="menu-icon">
								<i class="fa fa-chart-pie"></i>
							</div>
							<div class="menu-text">Noticias</div>
							<div class="menu-caret"></div>
						</a>
						<div class="menu-submenu">
							<div class="menu-item">
								<a href="chart-flot.html" class="menu-link">
									<div class="menu-text">Publicación de Noticias</div>
								</a>
							</div>
							<div class="menu-item">
								<a href="chart-js.html" class="menu-link">
									<div class="menu-text">Validación de Noticias</div>
								</a>
							</div>
						</div>
					</div>
					<div class="menu-item has-sub">
						<a href="javascript:;" class="menu-link">
							<div class="menu-icon">
								<i class="fa fa-map"></i>
							</div>
							<div class="menu-text">Gestión de Espacios</div>
							<div class="menu-caret"></div>
						</a>
						<div class="menu-submenu">
							<div class="menu-item">
								<a href="map_vector.html" class="menu-link">
									<div class="menu-text">Validación de Reservas</div>
								</a>
							</div>
						</div>
					</div>
					<div class="menu-item has-sub">
						<a href="javascript:;" class="menu-link">
							<div class="menu-icon">
								<i class="fa fa-image"></i>
							</div>
							<div class="menu-text">Campañas de Difusión</div>
							<div class="menu-caret"></div>
						</a>
						<div class="menu-submenu">
							<div class="menu-item">
								<a href="/reserva" class="menu-link">
									<div class="menu-text">Notificaciones Masivas</div>
								</a>
							</div>
						</div>
					</div>
					
					<!-- BEGIN minify-button -->
					<div class="menu-item d-flex">
						<a href="javascript:;" class="app-sidebar-minify-btn ms-auto d-flex align-items-center text-decoration-none" data-toggle="app-sidebar-minify"><i class="fa fa-angle-double-left"></i></a>
					</div>
					<!-- END minify-button -->
				</div>
				<!-- END menu -->
			</div>
			<!-- END scrollbar -->
		</div>
		<div class="app-sidebar-bg"></div>
		<div class="app-sidebar-mobile-backdrop"><a href="#" data-dismiss="app-sidebar-mobile" class="stretched-link"></a></div>
		{% endblock %}
		<!-- END #sidebar -->
		
		<!-- BEGIN #content -->
		<!-- <div id="content" class="app-content"> -->

			

	<!-- END #app -->
	
   <!--  archivos JavaScript  -->
   <script src="{% static 'js/vendor.min.js' %}"></script>
   <script src="{% static 'js/app.min.js' %}"></script>

   <!-- ================== BEGIN page-js ================== -->
   <script src="{% static 'js/demo/login-v2.demo.js' %}"></script>
   <!-- ================== END page-js ================== -->
</body>
</html>