{% load static %} <!-- Cargar la etiqueta static -->
{% block title %}Password Reset Done Page{% endblock %}
    <!-- cargar archivos CSS -->
    <link href="{% static 'css/vendor.min.css' %}" rel="stylesheet" />
    <link href="{% static 'css/default/app.min.css' %}" rel="stylesheet" />
{% block content %}
<div class="container">
    <div class="row mt-5 pt-3">
        <div class="col-md-8 offset-md-2">
            <div class="card my-3 shadow">
                <div class="card-body">
                    <h4>Password Reset Done Page</h4>
                    <hr>
                    <div class="alert alert-info">
                        An mail with instructions to reset password has been sent to the email you provided.
                    </div>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

   <!--  archivos JavaScript  -->
   <script src="{% static 'js/vendor.min.js' %}"></script>
   <script src="{% static 'js/app.min.js' %}"></script>

   <!-- ================== BEGIN page-js ================== -->
   <script src="{% static 'js/demo/login-v2.demo.js' %}"></script>
   <!-- ================== END page-js ================== -->