{% load static %} <!-- cargar la etiqueta static -->
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>BarrioLink</title>
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
	<meta content="" name="description" />
	<meta content="" name="author" />

	<!-- ================== BEGIN core-css ================== -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
	<link href="{% static 'css/one-page-parallax/vendor.min.css' %}" rel="stylesheet" />
	<link href="{% static 'css/one-page-parallax/app.min.css' %}" rel="stylesheet" />
	<!-- ================== END core-css ================== -->
</head>

<body data-bs-spy='scroll' data-bs-target='#header' data-bs-offset='51'>
	<!-- begin #page-container -->
	<div id="page-container" class="fade">
		<!-- begin #header -->
		<div id="header" class="header navbar navbar-transparent navbar-fixed-top navbar-expand-lg">
			<!-- begin container -->
			<div class="container">
				<!-- begin navbar-brand -->
				<a href="index.html" class="navbar-brand">
					<span class="brand-logo"></span>
					<span class="brand-text">
						<span class="text-theme">Barrio</span> Link
					</span>
				</a>
				<!-- end navbar-brand -->
				<!-- begin navbar-toggle -->
				<button type="button" class="navbar-toggle collapsed" data-bs-toggle="collapse"
					data-bs-target="#header-navbar">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<!-- end navbar-header -->
				<!-- begin navbar-collapse -->
				<div class="collapse navbar-collapse" id="header-navbar">
					<ul class="nav navbar-nav navbar-end">
						<li class="nav-item dropdown">
							<a class="nav-link active" href="#home" data-click="scroll-to-target"
								data-scroll-target="#home">HOME <b class="caret"></b></a>
							<div class="dropdown-menu dropdown-menu-left animated animate__fadeInDown">
								<a class="dropdown-item" href="index.html">Page with Transparent Header</a>
								<a class="dropdown-item" href="index_inverse_header.html">Page with Inverse Header</a>
								<a class="dropdown-item" href="index_default_header.html">Page with White Header</a>
								<a class="dropdown-item" href="extra_element.html">Extra Element</a>
							</div>
						</li>
						<li class="nav-item"><a class="nav-link" href="#about" data-click="scroll-to-target">ACERCA DE
								JJVV</a></li>
						<li class="nav-item"><a class="nav-link" href="#team" data-click="scroll-to-target">QUIENES
								SOMOS</a></li>
						<li class="nav-item"><a class="nav-link" href="#service"
								data-click="scroll-to-target">SERVICIOS</a></li>
						<li class="nav-item"><a class="nav-link" href="#work" data-click="scroll-to-target">NOTICIAS</a>
						</li>
						<li class="nav-item"><a class="nav-link" href="/login">INICIAR SESIÓN</a></li>
					</ul>
				</div>
				<!-- end navbar-collapse -->
			</div>
			<!-- end container -->
		</div>
		<!-- end #header -->

		<!-- begin #home -->
		<div id="home" class="content has-bg home">
			<!-- begin content-bg -->
			<div class="content-bg" style="background-image: url('{% static 'img/login-bg/hills.jpg' %}')"
				data-paroller="true" data-paroller-type="foreground" data-paroller-factor="-0.25">
			</div>
			<!-- end content-bg -->
			<!-- begin container -->
			<div class="container home-content">
				<h1>Bienvenidos a BarrioLink</h1>
				<h3>Junta de vecinos de Comuna La Florida</h3>
			</div>
			<!-- end container -->
		</div>
		<!-- end #home -->

		<!-- begin #about -->
		<div id="about" class="content" data-scrollview="true">
			<!-- begin container -->
			<div class="container" data-animation="true" data-animation-type="animate__fadeInDown">
				<h2 class="content-title">Acerca de BarrioLink</h2>
				<p class="content-desc">
					Nuestra junta representa a una comunidad vibrante y diversa en el corazón del suroriente de la
					Región Metropolitana, rodeada por comunas como Puente Alto, La Granja, Macul, Peñalolén y La
					Pintana. La Florida, siendo una de las comunas más pobladas de Chile, es el hogar de más de 400,000
					habitantes que contribuyen a la riqueza cultural y social de nuestra área.
				</p>
				<!-- begin row -->
				<div class="row">
					<!-- begin col-4 -->
					<div class="col-lg-4">
						<!-- begin about -->
						<div class="about">
							<h3 class="mb-3">NUESTRA HISTORIA</h3>
							<p>
								La Junta de Vecinos de La Florida se dedica a fortalecer el sentido de comunidad y
								promover una calidad de vida excepcional para todos. Estamos comprometidos con la
								participación activa de nuestros vecinos en la toma de decisiones y en la creación de un
								entorno que refleje los valores y aspiraciones de cada uno.
							</p>
							<p>
								Nos enorgullece contar con una infraestructura sólida y desarrollada que abarca desde
								centros comerciales hasta instituciones educativas, hospitales, centros de atención de
								salud, así como parques y áreas verdes. Además, La Florida brinda a sus residentes una
								amplia variedad de servicios para satisfacer las necesidades cotidianas de nuestra
								comunidad diversa.
								¡Únete a nosotros para hacer de La Florida un lugar aún mejor para vivir! Navega por
								nuestra página para obtener más información sobre eventos, proyectos comunitarios y cómo
								puedes contribuir a hacer de nuestra comuna un hogar más próspero y acogedor. ¡Juntos,
								hacemos la diferencia!
							</p>
						</div>
						<!-- end about -->
					</div>
					<!-- end col-4 -->
					<!-- begin col-4 -->
					<div class="col-lg-4">
						<h3 class="mb-3">NUESTRA FILOSOFÍA</h3>
						<!-- begin about-author -->
						<div class="about-author">
							<div class="quote">
								<i class="fa fa-quote-left"></i>
								<h3>"Unidos por el bienestar, la diversidad y la colaboración, la Junta de Vecinos de La
									Florida trabaja para construir una comunidad fuerte, donde cada voz importa y cada
									vecino es parte fundamental de nuestro vibrante hogar."</span></h3>
								<i class="fa fa-quote-right"></i>
							</div>
							<div class="author">
								<div class="image">
									<img src="{% static 'img/user/user-15.jpg' %}" alt="Sean Ngu" />
								</div>
								<div class="info">
									Juan Carlos Bodoque
									<small>Director JJVV La Florida</small>
								</div>
							</div>
						</div>
						<!-- end about-author -->
					</div>
					<!-- end col-4 -->
					<!-- begin col-4 -->
					<div class="col-lg-4">
						<!-- begin about -->
						<div class="about">
							<h3 class="mb-3">ESPACIOS COMUNITARIOS</h3>
							<p>
								Para aquellos amantes del deporte y la vida al aire libre, nuestra comuna ofrece instalaciones deportivas de primera categoría, parques y centros de recreación. Estos espacios están diseñados para fomentar la actividad física, el esparcimiento y el compañerismo entre los residentes.
							</p>
						</div>
						<!-- end about -->
					</div>
					<!-- end row -->
				</div>
				<!-- end container -->
			</div>
			<!-- end #about -->

			<!-- begin #milestone -->
			<div id="milestone" class="content bg-black-darker has-bg" data-scrollview="true">
				<!-- begin content-bg -->
				<div class="content-bg" style="background-image: url('{% static 'img/bg/bg-milestone.jpg' %}')"></div>
				<!-- end content-bg -->
				<!-- begin container -->
				<div class="container">
					<!-- begin row -->
					<div class="row">
						<!-- begin col-3 -->
						<!-- end col-3 -->
						<!-- begin col-3 -->
						<div class="col-lg-3 milestone-col">
							<div class="milestone">
								<div class="number" data-animation="true" data-animation-type="number"
									data-final-number="9039">9,039</div>
								<div class="title">Miembros registrados</div>
							</div>
						</div>
						<!-- end col-3 -->
						<!-- begin col-3 -->
						<!-- end col-3 -->
						<!-- begin col-3 -->
						<!-- end col-3 -->
					</div>
					<!-- end row -->
				</div>
				<!-- end container -->
			</div>
			<!-- end #milestone -->

			<!-- begin #team -->
			<div id="team" class="content" data-scrollview="true">
				<!-- begin container -->
				<div class="container">
					<h2 class="content-title">Nuestro equipo</h2>
					<p class="content-desc">
						La directiva de la Junta de Vecinos de La Florida está formada por un grupo dedicado de líderes
						comprometidos con el bienestar de nuestra comunidad. Con experiencia y pasión, trabajamos de la
						mano de nuestros vecinos para impulsar iniciativas positivas, fomentar la participación y
						construir juntos un futuro vibrante para todos.
					</p>
					<!-- begin row -->
					<div class="row">
						<!-- begin col-4 -->
						<div class="col-lg-4">
							<!-- begin team -->
							<div class="team">
								<div class="image" data-animation="true" data-animation-type="animate__flipInX">
									<img src="{% static 'img/user/user-15.jpg' %}" alt="Ryan Teller" />
								</div>
								<div class="info">
									<h3 class="name">Juan Carlos Bodoque</h3>
									<div class="title text-theme">Director</div>
									<p>Como director de la Junta de Vecinos de La Florida, un visionario comprometido,
										lidera con empatía y dedicación, guiando a nuestra comunidad hacia un futuro
										inclusivo y próspero.</p>
									<div class="social">
										<a href="#"><i class="fab fa-facebook-f fa-lg fa-fw"></i></a>
										<a href="#"><i class="fab fa-twitter fa-lg fa-fw"></i></a>
										<a href="#"><i class="fab fa-google-plus-g fa-lg fa-fw"></i></a>
									</div>
								</div>
							</div>
							<!-- end team -->
						</div>
						<!-- end col-4 -->
						<!-- begin col-4 -->
						<div class="col-lg-4">
							<!-- begin team -->
							<div class="team">
								<div class="image" data-animation="true" data-animation-type="animate__flipInX">
									<img src="{% static 'img/user/user-16.jpg' %}" alt="Jonny Cash" />
								</div>
								<div class="info">
									<h3 class="name">Señora Chepa</h3>
									<div class="title text-theme">Tesorera</div>
									<p>La tesorera de la Junta de Vecinos de La Florida es una administradora financiera
										diligente, encargada de salvaguardar los recursos comunitarios con transparencia
										y responsabilidad, asegurando el bienestar económico de nuestra comunidad.</p>
									<div class="social">
										<a href="#"><i class="fab fa-facebook-f fa-lg fa-fw"></i></a>
										<a href="#"><i class="fab fa-twitter fa-lg fa-fw"></i></a>
										<a href="#"><i class="fab fa-google-plus-g fa-lg fa-fw"></i></a>
									</div>
								</div>
							</div>
							<!-- end team -->
						</div>
						<!-- end col-4 -->
						<!-- begin col-4 -->
						<div class="col-lg-4">
							<!-- begin team -->
							<div class="team">
								<div class="image" data-animation="true" data-animation-type="animate__flipInX">
									<img src="{% static 'img/user/user-17.jpg' %}" alt="Mia Donovan" />
								</div>
								<div class="info">
									<h3 class="name">Soa Patana</h3>
									<div class="title text-theme">Tesorera</div>
									<p>La Secretaria de la Junta de Vecinos de La Florida, una comunicadora habilidosa y
										organizadora comprometida, desempeña un papel clave en el mantenimiento de
										registros precisos y la facilitación de una comunicación efectiva dentro de
										nuestra comunidad.</p>
									<div class="social">
										<a href="#"><i class="fab fa-facebook-f fa-lg fa-fw"></i></a>
										<a href="#"><i class="fab fa-twitter fa-lg fa-fw"></i></a>
										<a href="#"><i class="fab fa-google-plus-g fa-lg fa-fw"></i></a>
									</div>
								</div>
							</div>
							<!-- end team -->
						</div>
						<!-- end col-4 -->
					</div>
					<!-- end row -->
				</div>
				<!-- end container -->
			</div>
			<!-- end #team -->

			<!-- begin #quote -->
			<div id="quote" class="content bg-black-darker has-bg" data-scrollview="true">
				<!-- begin content-bg -->
				<div class="content-bg" style="background-image: url('{% static 'img/bg/bg-quote.jpg' %}')"
					data-paroller-factor="0.5" data-paroller-factor-md="0.01" data-paroller-factor-xs="0.01">
				</div>
				<!-- end content-bg -->
				<!-- begin container -->
				<div class="container" data-animation="true" data-animation-type="animate__fadeInLeft">
					<!-- begin row -->
					<div class="row">
						<!-- begin col-12 -->
						<div class="col-lg-12 quote">
							<i class="fa fa-quote-left"></i> La Junta de Vecinos de La Florida se dedica a fortalecer el
							sentido de comunidad y promover una calidad de vida excepcional para todos. Estamos
							comprometidos con la participación activa de nuestros vecinos en la toma de decisiones y en
							la creación de un entorno que refleje los valores y aspiraciones de<br />
							<span class="text-theme">cada uno.</span>!
							<i class="fa fa-quote-right"></i>
							<small></small>
						</div>
						<!-- end col-12 -->
					</div>
					<!-- end row -->
				</div>
				<!-- end container -->
			</div>
			<!-- end #quote -->

			<!-- beign #service -->
			<div id="service" class="content" data-scrollview="true">
				<!-- begin container -->
				<div class="container">
					<h2 class="content-title">NUESTROS SERVICIOS</h2>
					<p class="content-desc">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum consectetur eros
						dolor,<br />
						sed bibendum turpis luctus eget
					</p>
					<!-- begin row -->
					<div class="row">
						<!-- begin col-4 -->
						<div class="col-lg-4 col-md-6">
							<div class="service">
								<div class="icon" data-animation="true" data-animation-type="animate__bounceIn"><i
										class="fa fa-cog"></i></div>
								<div class="info">
									<h4 class="title">Participación Comunitaria</h4>
									<p class="desc">Facilitamos espacios para que los vecinos se involucren activamente en la toma de decisiones, expresen sus inquietudes y contribuyan a la planificación y desarrollo de proyectos comunitarios.</p>
								</div>
							</div>
						</div>
						<!-- end col-4 -->
						<!-- begin col-4 -->
						<div class="col-lg-4 col-md-6">
							<div class="service">
								<div class="icon" data-animation="true" data-animation-type="animate__bounceIn"><i
										class="fa fa-paint-brush"></i></div>
								<div class="info">
									<h4 class="title">Gestión de Residuos y Medio Ambiente</h4>
									<p class="desc">Coordinar esfuerzos para mejorar la gestión de residuos, fomentar prácticas sostenibles y promover la conciencia ambiental.</p>
								</div>
							</div>
						</div>
						<!-- end col-4 -->
						<!-- begin col-4 -->
						<div class="col-lg-4 col-md-6">
							<div class="service">
								<div class="icon" data-animation="true" data-animation-type="animate__bounceIn"><i
										class="fa fa-file"></i></div>
								<div class="info">
									<h4 class="title">Asistencia Vecinal</h4>
									<p class="desc">Facilitamos la ayuda entre vecinos, como redes de apoyo para personas mayores, programas de tutoría, y asistencia en situaciones de emergencia.</p>
								</div>
							</div>
						</div>
						<!-- end col-4 -->
						<!-- begin col-4 -->
						<div class="col-lg-4 col-md-6">
							<div class="service">
								<div class="icon" data-animation="true" data-animation-type="animate__bounceIn"><i
										class="fa fa-code"></i></div>
								<div class="info">
									<h4 class="title">Certificación de Residencia</h4>
									<p class="desc">La Junta de Vecinos de La Florida se dedica a facilitar la obtención de certificados de residencia para sus vecinos. Este servicio es esencial para validar la residencia en nuestra comunidad y se proporciona de manera eficiente y amigable.</p>
								</div>
							</div>
						</div>
						<!-- end col-4 -->
						<!-- begin col-4 -->
						<div class="col-lg-4 col-md-6">
							<div class="service">
								<div class="icon" data-animation="true" data-animation-type="animate__bounceIn"><i
										class="fa fa-shopping-cart"></i></div>
								<div class="info">
									<h4 class="title">Información y Comunicación</h4>
									<p class="desc">Mantener a los residentes informados sobre noticias locales, eventos y cambios importantes a través de boletines, redes sociales o sitios web.</p>
								</div>
							</div>
						</div>
						<!-- end col-4 -->
						<!-- begin col-4 -->
						<div class="col-lg-4 col-md-6">
							<div class="service">
								<div class="icon" data-animation="true" data-animation-type="animate__bounceIn"><i
										class="fa fa-heart"></i></div>
								<div class="info">
									<h4 class="title">Iniciativas de Salud Comunitaria</h4>
									<p class="desc">Organizar programas de salud, ferias de salud, y actividades deportivas para promover estilos de vida saludables entre los residentes.</p>
								</div>
							</div>
						</div>
						<!-- end col-4 -->
					</div>
					<!-- end row -->
				</div>
				<!-- end container -->
			</div>
			<!-- end #service -->

			<!-- beign #action-box -->
			<!-- end #action-box -->

			<!-- begin #work -->
			<div id="work" class="content" data-scrollview="true">
				<!-- begin container -->
				<div class="container" data-animation="true" data-animation-type="animate__fadeInDown">
					<h2 class="content-title">¡ENTERATE DE LAS ULTIMAS NOTICIAS!</h2>
					<p class="content-desc">
						En este espacio podras descubrir las distintas actividades que se realizaran en nuestra comunidad<br />
					</p>
					<!-- begin row -->
					<div class="row row-space-10">
						<!-- begin col-3 -->
						<div class="col-lg-3 col-md-4">
							<!-- begin work -->
							<div class="work">
								<div class="image">
									<a href="#"><img src="{% static 'img/work/work-img-1.jpg' %}" alt="Work 1" /></a>
								</div>
								<div class="desc">
									<span class="desc-title">Aliquam molestie</span>
									<span class="desc-text">Lorem ipsum dolor sit amet</span>
								</div>
							</div>
							<!-- end work -->
						</div>
						<!-- end col-3 -->
						<!-- begin col-3 -->
						<div class="col-lg-3 col-md-4">
							<!-- begin work -->
							<div class="work">
								<div class="image">
									<a href="#"><img src="{% static 'img/work/work-img-2.jpg' %}" alt="Work 2" /></a>
								</div>
								<div class="desc">
									<span class="desc-title">Quisque at pulvinar lacus</span>
									<span class="desc-text">Lorem ipsum dolor sit amet</span>
								</div>
							</div>
							<!-- end work -->
						</div>
						<!-- end col-3 -->
						<!-- begin col-3 -->
						<div class="col-lg-3 col-md-4">
							<!-- begin work -->
							<div class="work">
								<div class="image">
									<a href="#"><img src="{% static 'img/work/work-img-3.jpg' %}" alt="Work 3" /></a>
								</div>
								<div class="desc">
									<span class="desc-title">Vestibulum et erat ornare</span>
									<span class="desc-text">Lorem ipsum dolor sit amet</span>
								</div>
							</div>
							<!-- end work -->
						</div>
						<!-- end col-3 -->
						<!-- begin col-3 -->
						<div class="col-lg-3 col-md-4">
							<!-- begin work -->
							<div class="work">
								<div class="image">
									<a href="#"><img src="{% static 'img/work/work-img-4.jpg' %}" alt="Work 4" /></a>
								</div>
								<div class="desc">
									<span class="desc-title">Sed vitae mollis magna</span>
									<span class="desc-text">Lorem ipsum dolor sit amet</span>
								</div>
							</div>
							<!-- end work -->
						</div>
						<!-- end col-3 -->
						<!-- begin col-3 -->
						<div class="col-lg-3 col-md-4">
							<!-- begin work -->
							<div class="work">
								<div class="image">
									<a href="#"><img src="{% static 'img/work/work-img-5.jpg' %}" alt="Work 5" /></a>
								</div>
								<div class="desc">
									<span class="desc-title">Suspendisse at mattis odio</span>
									<span class="desc-text">Lorem ipsum dolor sit amet</span>
								</div>
							</div>
							<!-- end work -->
						</div>
						<!-- end col-3 -->
						<!-- begin col-3 -->
						<div class="col-lg-3 col-md-4">
							<!-- begin work -->
							<div class="work">
								<div class="image">
									<a href="#"><img src="{% static 'img/work/work-img-6.jpg' %}" alt="Work 6" /></a>
								</div>
								<div class="desc">
									<span class="desc-title">Aliquam vitae commodo diam</span>
									<span class="desc-text">Lorem ipsum dolor sit amet</span>
								</div>
							</div>
							<!-- end work -->
						</div>
						<!-- end col-3 -->
						<!-- begin col-3 -->
						<div class="col-lg-3 col-md-4">
							<!-- begin work -->
							<div class="work">
								<div class="image">
									<a href="#"><img src="{% static 'img/work/work-img-7.jpg' %}" alt="Work 7" /></a>
								</div>
								<div class="desc">
									<span class="desc-title">Phasellus eu vehicula lorem</span>
									<span class="desc-text">Lorem ipsum dolor sit amet</span>
								</div>
							</div>
							<!-- end work -->
						</div>
						<!-- end col-3 -->
						<!-- begin col-3 -->
						<div class="col-lg-3 col-md-4">
							<!-- begin work -->
							<div class="work">
								<div class="image">
									<a href="#"><img src="{% static 'img/work/work-img-8.jpg' %}" alt="Work 8" /></a>
								</div>
								<div class="desc">
									<span class="desc-title">Morbi bibendum pellentesque</span>
									<span class="desc-text">Lorem ipsum dolor sit amet</span>
								</div>
							</div>
							<!-- end work -->
						</div>
						<!-- end col-3 -->
					</div>
					<!-- end row -->
				</div>
				<!-- end container -->
			</div>
			<!-- end #work -->

			<!-- begin #client -->
			<div id="client" class="content has-bg bg-green" data-scrollview="true">
				<!-- begin content-bg -->
				<div class="content-bg" style="background-image: url('{% static 'img/bg/bg-client.jpg' %}')"
					data-paroller-factor="0.5" data-paroller-factor-md="0.01" data-paroller-factor-xs="0.01">
				</div>
				<!-- end content-bg -->
				<!-- begin container -->
				<div class="container" data-animation="true" data-animation-type="animate__fadeInUp">
					<h2 class="content-title">Our Client Testimonials</h2>
					<!-- begin carousel -->
					<div class="carousel testimonials slide" data-ride="carousel" id="testimonials">
						<!-- begin carousel-inner -->
						<div class="carousel-inner text-center">
							<!-- begin item -->
							<div class="carousel-item active">
								<blockquote>
									<i class="fa fa-quote-left"></i>
									Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce viverra, nulla ut
									interdum fringilla,<br />
									urna massa cursus lectus, eget rutrum lectus neque non ex.
									<i class="fa fa-quote-right"></i>
								</blockquote>
								<div class="name"> — <span class="text-theme">Mark Doe</span>, Designer</div>
							</div>
							<!-- end item -->
							<!-- begin item -->
							<div class="carousel-item">
								<blockquote>
									<i class="fa fa-quote-left"></i>
									Donec cursus ligula at ante vulputate laoreet. Nulla egestas sit amet lorem non
									bibendum.<br />
									Nulla eget risus velit. Pellentesque tincidunt velit vitae tincidunt finibus.
									<i class="fa fa-quote-right"></i>
								</blockquote>
								<div class="name"> — <span class="text-theme">Joe Smith</span>, Developer</div>
							</div>
							<!-- end item -->
							<!-- begin item -->
							<div class="carousel-item">
								<blockquote>
									<i class="fa fa-quote-left"></i>
									Sed tincidunt quis est sed ultrices. Sed feugiat auctor ipsum, sit amet accumsan
									elit vestibulum<br />
									fringilla. In sollicitudin ac ligula eget vestibulum.
									<i class="fa fa-quote-right"></i>
								</blockquote>
								<div class="name"> — <span class="text-theme">Linda Adams</span>, Programmer</div>
							</div>
							<!-- end item -->
						</div>
						<!-- end carousel-inner -->
						<!-- begin carousel-indicators -->
						<ol class="carousel-indicators m-b-0">
							<li data-bs-target="#testimonials" data-bs-slide-to="0" class="active"></li>
							<li data-bs-target="#testimonials" data-bs-slide-to="1" class=""></li>
							<li data-bs-target="#testimonials" data-bs-slide-to="2" class=""></li>
						</ol>
						<!-- end carousel-indicators -->
					</div>
					<!-- end carousel -->
				</div>
				<!-- end containter -->
			</div>
			<!-- end #client -->

			<!-- begin #pricing -->
			<div id="pricing" class="content" data-scrollview="true">
				<!-- begin container -->
				<div class="container">
					<h2 class="content-title">Our Price</h2>
					<p class="content-desc">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum consectetur eros
						dolor,<br />
						sed bibendum turpis luctus eget
					</p>
					<!-- begin pricing-table -->
					<ul class="pricing-table pricing-col-4">
						<li data-animation="true" data-animation-type="animate__fadeInUp">
							<div class="pricing-container">
								<h3>Starter</h3>
								<div class="price">
									<div class="price-figure">
										<span class="price-number">FREE</span>
									</div>
								</div>
								<ul class="features">
									<li>1GB Storage</li>
									<li>2 Clients</li>
									<li>5 Active Projects</li>
									<li>5 Colors</li>
									<li>Free Goodies</li>
									<li>24/7 Email support</li>
								</ul>
								<div class="footer">
									<a href="#" class="btn btn-inverse btn-theme btn-block">Buy Now</a>
								</div>
							</div>
						</li>
						<li data-animation="true" data-animation-type="animate__fadeInUp">
							<div class="pricing-container">
								<h3>Basic</h3>
								<div class="price">
									<div class="price-figure">
										<span class="price-number">$9.99</span>
										<span class="price-tenure">per month</span>
									</div>
								</div>
								<ul class="features">
									<li>2GB Storage</li>
									<li>5 Clients</li>
									<li>10 Active Projects</li>
									<li>10 Colors</li>
									<li>Free Goodies</li>
									<li>24/7 Email support</li>
								</ul>
								<div class="footer">
									<a href="#" class="btn btn-inverse btn-theme btn-block">Buy Now</a>
								</div>
							</div>
						</li>
						<li class="highlight" data-animation="true" data-animation-type="animate__fadeInUp">
							<div class="pricing-container">
								<h3>Premium</h3>
								<div class="price">
									<div class="price-figure">
										<span class="price-number">$19.99</span>
										<span class="price-tenure">per month</span>
									</div>
								</div>
								<ul class="features">
									<li>5GB Storage</li>
									<li>10 Clients</li>
									<li>20 Active Projects</li>
									<li>20 Colors</li>
									<li>Free Goodies</li>
									<li>24/7 Email support</li>
								</ul>
								<div class="footer">
									<a href="#" class="btn btn-primary btn-theme btn-block">Buy Now</a>
								</div>
							</div>
						</li>
						<li data-animation="true" data-animation-type="animate__fadeInUp">
							<div class="pricing-container">
								<h3>Lifetime</h3>
								<div class="price">
									<div class="price-figure">
										<span class="price-number">$999</span>
									</div>
								</div>
								<ul class="features">
									<li>Unlimited Storage</li>
									<li>Unlimited Clients</li>
									<li>Unlimited Projects</li>
									<li>Unlimited Colors</li>
									<li>Free Goodies</li>
									<li>24/7 Email support</li>
								</ul>
								<div class="footer">
									<a href="#" class="btn btn-inverse btn-theme btn-block">Buy Now</a>
								</div>
							</div>
						</li>
					</ul>
				</div>
				<!-- end container -->
			</div>
			<!-- end #pricing -->

			<!-- begin #contact -->
			<div id="contact" class="content bg-light" data-scrollview="true">
				<!-- begin container -->
				<div class="container">
					<h2 class="content-title">Contact Us</h2>
					<p class="content-desc">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum consectetur eros
						dolor,<br />
						sed bibendum turpis luctus eget
					</p>
					<!-- begin row -->
					<div class="row">
						<!-- begin col-6 -->
						<div class="col-lg-6" data-animation="true" data-animation-type="animate__fadeInLeft">
							<h3>If you have a project you would like to discuss, get in touch with us.</h3>
							<p>
								Morbi interdum mollis sapien. Sed ac risus. Phasellus lacinia, magna a ullamcorper
								laoreet, lectus arcu pulvinar risus, vitae facilisis libero dolor a purus.
							</p>
							<p>
								<strong>SeanTheme Studio, Inc</strong><br />
								795 Folsom Ave, Suite 600<br />
								San Francisco, CA 94107<br />
								P: (123) 456-7890<br />
							</p>
							<p>
								<span class="phone">+11 (0) 123 456 78</span><br />
								<a href="mailto:hello@emailaddress.com" class="text-theme">seanthemes@support.com</a>
							</p>
						</div>
						<!-- end col-6 -->
						<!-- begin col-6 -->
						<div class="col-lg-6 form-col" data-animation="true" data-animation-type="animate__fadeInRight">
							<form class="form-horizontal">
								<div class="row mb-3">
									<label class="col-form-label col-lg-3 text-lg-right">Name <span
											class="text-theme">*</span></label>
									<div class="col-lg-9">
										<input type="text" class="form-control" />
									</div>
								</div>
								<div class="row mb-3">
									<label class="col-form-label col-lg-3 text-lg-right">Email <span
											class="text-theme">*</span></label>
									<div class="col-lg-9">
										<input type="text" class="form-control" />
									</div>
								</div>
								<div class="row mb-3">
									<label class="col-form-label col-lg-3 text-lg-right">Message <span
											class="text-theme">*</span></label>
									<div class="col-lg-9">
										<textarea class="form-control" rows="10"></textarea>
									</div>
								</div>
								<div class="row mb-3">
									<label class="col-form-label col-lg-3 text-lg-right"></label>
									<div class="col-lg-9 text-left">
										<button type="submit" class="btn btn-theme btn-primary btn-block">Send
											Message</button>
									</div>
								</div>
							</form>
						</div>
						<!-- end col-6 -->
					</div>
					<!-- end row -->
				</div>
				<!-- end container -->
			</div>
			<!-- end #contact -->

			<!-- begin #footer -->
			<div id="footer" class="footer">
				<div class="container">
					<div class="footer-brand">
						<div class="footer-brand-logo"></div>
						Color Admin
					</div>
					<p>
						&copy; Copyright Color Admin 2021 <br />
						An admin & front end theme with serious impact. Created by <a href="#">SeanTheme</a>
					</p>
					<p class="social-list">
						<a href="#"><i class="fab fa-facebook-f fa-fw"></i></a>
						<a href="#"><i class="fab fa-instagram fa-fw"></i></a>
						<a href="#"><i class="fab fa-twitter fa-fw"></i></a>
						<a href="#"><i class="fab fa-google-plus-g fa-fw"></i></a>
						<a href="#"><i class="fab fa-dribbble fa-fw"></i></a>
					</p>
				</div>
			</div>
			<!-- end #footer -->
			<!-- begin theme-panel -->
			<div class="theme-panel">
				<a href="javascript:;" data-click="theme-panel-expand" class="theme-collapse-btn"><i
						class="fa fa-cog"></i></a>
				<div class="theme-panel-content">
					<ul class="theme-list clearfix">
						<li><a href="javascript:;" class="bg-red" data-theme="theme-red" data-click="theme-selector"
								data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-container="body"
								data-bs-title="Red" data-original-title="" title="">&nbsp;</a></li>
						<li><a href="javascript:;" class="bg-pink" data-theme="theme-pink" data-click="theme-selector"
								data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-container="body"
								data-bs-title="Pink" data-original-title="" title="">&nbsp;</a></li>
						<li><a href="javascript:;" class="bg-orange" data-theme="theme-orange"
								data-click="theme-selector" data-bs-toggle="tooltip" data-bs-trigger="hover"
								data-bs-container="body" data-bs-title="Orange" data-original-title=""
								title="">&nbsp;</a></li>
						<li><a href="javascript:;" class="bg-yellow" data-theme="theme-yellow"
								data-click="theme-selector" data-bs-toggle="tooltip" data-bs-trigger="hover"
								data-bs-container="body" data-bs-title="Yellow" data-original-title=""
								title="">&nbsp;</a></li>
						<li><a href="javascript:;" class="bg-lime" data-theme="theme-lime" data-click="theme-selector"
								data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-container="body"
								data-bs-title="Lime" data-original-title="" title="">&nbsp;</a></li>
						<li><a href="javascript:;" class="bg-green" data-theme="theme-green" data-click="theme-selector"
								data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-container="body"
								data-bs-title="Green" data-original-title="" title="">&nbsp;</a></li>
						<li class="active"><a href="javascript:;" class="bg-teal" data-theme=""
								data-click="theme-selector" data-bs-toggle="tooltip" data-bs-trigger="hover"
								data-bs-container="body" data-bs-title="Default" data-original-title=""
								title="">&nbsp;</a></li>
						<li><a href="javascript:;" class="bg-cyan" data-theme="theme-cyan" data-click="theme-selector"
								data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-container="body"
								data-bs-title="Aqua" data-original-title="" title="">&nbsp;</a></li>
						<li><a href="javascript:;" class="bg-blue" data-theme="theme-blue" data-click="theme-selector"
								data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-container="body"
								data-bs-title="Blue" data-original-title="" title="">&nbsp;</a></li>
						<li><a href="javascript:;" class="bg-purple" data-theme="theme-purple"
								data-click="theme-selector" data-bs-toggle="tooltip" data-bs-trigger="hover"
								data-bs-container="body" data-bs-title="Purple" data-original-title=""
								title="">&nbsp;</a></li>
						<li><a href="javascript:;" class="bg-indigo" data-theme="theme-indigo"
								data-click="theme-selector" data-bs-toggle="tooltip" data-bs-trigger="hover"
								data-bs-container="body" data-bs-title="Indigo" data-original-title=""
								title="">&nbsp;</a></li>
						<li><a href="javascript:;" class="bg-black" data-theme="theme-black" data-click="theme-selector"
								data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-container="body"
								data-bs-title="Black" data-original-title="" title="">&nbsp;</a></li>
					</ul>
					<hr class="mb-0" />
					<div class="row mt-10px pt-3px">
						<div class="col-9 control-label text-dark fw-bold">
							<div>Dark Mode <span class="badge bg-primary ms-1 position-relative py-4px px-6px"
									style="top: -1px">NEW</span></div>
							<div class="lh-14 fs-13px">
								<small class="text-dark opacity-50">
									Adjust the appearance to reduce glare and give your eyes a break.
								</small>
							</div>
						</div>
						<div class="col-3 d-flex">
							<div class="form-check form-switch ms-auto mb-0 mt-2px">
								<input type="checkbox" class="form-check-input" name="app-theme-dark-mode"
									id="appThemeDarkMode" value="1" />
								<label class="form-check-label" for="appThemeDarkMode">&nbsp;</label>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- end theme-panel -->
		</div>
		<!-- end #page-container -->

		<!-- ================== BEGIN BASE JS ================== -->
		<script src="{% static 'js/one-page-parallax/vendor.min.js' %}"></script>
		<script src="{% static 'js/one-page-parallax/app.min.js' %}"></script>



</body>

</html>