{% load static %} <!-- cargar la etiqueta static -->
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>BarrioLink</title>
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
	<meta content="" name="description" />
	<meta content="" name="author" />

	<!-- ================== BEGIN core-css ================== -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
	<link href="{% static 'css/one-page-parallax/vendor.min.css' %}" rel="stylesheet" />
	<link href="{% static 'css/one-page-parallax/app.min.css' %}" rel="stylesheet" />
	<!-- ================== END core-css ================== -->
</head>

<body data-bs-spy='scroll' data-bs-target='#header' data-bs-offset='51'>
	<!-- begin #page-container -->
	<div id="page-container" class="fade">
		<!-- begin #header -->
		<div id="header" class="header navbar navbar-transparent navbar-fixed-top navbar-expand-lg">
			<!-- begin container -->
			<div class="container">
				<!-- begin navbar-brand -->
				<a href="index.html" class="navbar-brand">
					<span class="brand-logo"></span>
					<span class="brand-text">
						<span class="text-theme">Barrio</span> Link
					</span>
				</a>
				<!-- end navbar-brand -->
				<!-- begin navbar-toggle -->
				<button type="button" class="navbar-toggle collapsed" data-bs-toggle="collapse"
					data-bs-target="#header-navbar">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<!-- end navbar-header -->
				<!-- begin navbar-collapse -->
				<div class="collapse navbar-collapse" id="header-navbar">
					<ul class="nav navbar-nav navbar-end">
						<li class="nav-item"><a class="nav-link" href="#about" data-click="scroll-to-target">ACERCA DE
								JJVV</a></li>
						<li class="nav-item"><a class="nav-link" href="#team" data-click="scroll-to-target">QUIENES
								SOMOS</a></li>
						<li class="nav-item"><a class="nav-link" href="#service"
								data-click="scroll-to-target">SERVICIOS</a></li>
						<li class="nav-item"><a class="nav-link" href="#work" data-click="scroll-to-target">NOTICIAS</a>
						</li>
						<li class="nav-item"><a class="nav-link" href="/login">INICIAR SESIÓN</a></li>
					</ul>
				</div>
				<!-- end navbar-collapse -->
			</div>
			<!-- end container -->
		</div>
		<!-- end #header -->

		<!-- begin #home -->
		<div id="home" class="content has-bg home">
			<!-- begin content-bg -->
			<div class="content-bg" style="background-image: url('{% static 'img/login-bg/hills.jpg' %}')"
				data-paroller="true" data-paroller-type="foreground" data-paroller-factor="-0.25">
			</div>
			<!-- end content-bg -->
			<!-- begin container -->
			<div class="container home-content">
				<h1>Bienvenidos a BarrioLink</h1>
				<h3>Junta de vecinos Unión La Florida</h3>
			</div>
			<!-- end container -->
		</div>
		<!-- end #home -->

		<!-- begin #about -->
		<div id="about" class="content" data-scrollview="true">
			<!-- begin container -->
			<div class="container" data-animation="true" data-animation-type="animate__fadeInDown">
				<h2 class="content-title">Acerca de nosotros</h2>
				<p class="content-desc" style="font-size: 16px">
					Nuestra Junta de vecinos Unión La Florida representa a una comunidad vibrante y diversa en el corazón del suroriente de la
					Región Metropolitana, rodeada por comunas como Puente Alto, La Granja, Macul, Peñalolén y La
					Pintana. La Florida, siendo una de las comunas más pobladas de Chile, es el hogar de más de 400,000
					habitantes que contribuyen a la riqueza cultural y social de nuestra área.
				</p>
				<!-- begin row -->
				<div class="row">
					<!-- begin col-4 -->
					<div class="col-lg-4">
						<!-- begin about -->
						<div class="about">
							<h3 class="mb-3">Junta de vecinos Unión La Florida</h3>
							<p style="font-size: 16px">
								La Junta de Vecinos Unión La Florida se dedica a fortalecer el sentido de comunidad y
								promover una calidad de vida excepcional para todos. Estamos comprometidos con la
								participación activa de nuestros vecinos en la toma de decisiones y en la creación de un
								entorno que refleje los valores y aspiraciones de cada uno.
							</p>
							<p style="font-size: 16px">
								Nos enorgullece contar con una infraestructura sólida y desarrollada que abarca desde
								centros comerciales hasta instituciones educativas, hospitales, centros de atención de
								salud, así como parques y áreas verdes. Además, La Florida brinda a sus residentes una
								amplia variedad de servicios para satisfacer las necesidades cotidianas de nuestra
								comunidad diversa.
							</p>
						</div>
						<!-- end about -->
					</div>
					<!-- end col-4 -->
					<!-- begin col-4 -->
					<div class="col-lg-4">
						<h3 class="mb-3">Nuestra filosofía</h3>
						<!-- begin about-author -->
						<div class="about-author">
							<div class="quote">
								<i class="fa fa-quote-left"></i>
								<h3>Unidos por el bienestar, la diversidad y la colaboración, la Junta de vecinos Unión La
									Florida trabaja para construir una comunidad fuerte, donde cada voz importa y cada
									vecino es parte fundamental de nuestro vibrante hogar.</span></h3>
								<i class="fa fa-quote-right"></i>
							</div>
							<div class="author">
								<div class="image">
									<img src="{% static 'img/user/user-15.jpg' %}" alt="Sean Ngu" />
								</div>
								<div class="info">
									Juan Carlos Bodoque
									<small>Director JJVV Unión La Florida</small>
								</div>
							</div>
						</div>
						<!-- end about-author -->
					</div>
					<!-- end col-4 -->
					<!-- begin col-4 -->
					<div class="col-lg-4">
						<!-- begin about -->
						<div class="about">
							<h3 class="mb-3">Nuestros espacios comunitarios</h3>
							<p style="font-size: 16px">
								Para aquellos amantes del deporte y la vida al aire libre, nuestra comuna ofrece instalaciones deportivas de primera categoría, parques y centros de recreación. Estos espacios están diseñados para fomentar la actividad física, el esparcimiento y el compañerismo entre los residentes.
							</p>
							<p style="font-size: 16px">
								Nuestros acogedores espacios comunitarios son lugares diseñados para que las familias compartan momentos especiales. Rodeados de zonas verdes, bancos y juegos, estos espacios fomentan la convivencia, el juego y la conexión familiar.
							</p>
						</div>
						<!-- end about -->
					</div>
					<!-- end row -->
				</div>
				<!-- end container -->
			</div>
			<!-- end #about -->
			<br>
			<!-- begin #milestone -->
			<div id="milestone" class="content bg-black-darker has-bg" data-scrollview="true">
				<!-- begin content-bg -->
				<div class="content-bg" style="background-image: url('{% static 'img/bg/bg-milestone.jpg' %}')"></div>
				<!-- end content-bg -->
				<!-- begin container -->
				<div class="container">
						<!-- begin row -->
						<div class="row">
							<!-- begin col-3 -->
							<!-- end col-3 -->
							<!-- begin col-3 -->
							<div class="col-lg-3 milestone-col">
								<div class="milestone">
									<div class="number" data-animation="true" data-animation-type="number"
										data-final-number="698" style="margin-left: 13cm;">698</div>
									<div class="title" style="margin-left: 13cm; font-size: 18px">Miembros registrados</div>
								</div>
							</div>
							<!-- end col-3 -->
							<!-- begin col-3 -->
							<!-- end col-3 -->
							<!-- begin col-3 -->
							<!-- end col-3 -->
						</div>
						<!-- end row -->
				</div>
				<!-- end container -->
			</div>
			<!-- end #milestone -->

			<!-- begin #team -->
			<div id="team" class="content" data-scrollview="true">
				<!-- begin container -->
				<div class="container">
					<h2 class="content-title">Equipo Directivo</h2>
					<p class="content-desc" style="font-size: 18px">
						La directiva de la Junta de Vecinos  Unión La Florida está formada por un grupo dedicado de líderes
						comprometidos con el bienestar de nuestra comunidad. Con experiencia y pasión, trabajamos de la
						mano de nuestros vecinos para impulsar iniciativas positivas, fomentar la participación y
						construir juntos un futuro vibrante para todos.
					</p>
					<!-- begin row -->
					<div class="row">
						<!-- begin col-4 -->
						<div class="col-lg-4">
							<!-- begin team -->
							<div class="team">
								<div class="image" data-animation="true" data-animation-type="animate__flipInX">
									<img src="{% static 'img/user/user-15.jpg' %}" alt="Ryan Teller" />
								</div>
								<div class="info">
									<h3 class="name">Juan Carlos Bodoque</h3>
									<div class="title text-theme" style="font-size: 16px">Director</div>
									<p style="font-size: 16px">Como director de la Junta de Vecinos Unión La Florida, un visionario comprometido,
										lidera con empatía y dedicación, guiando a nuestra comunidad hacia un futuro
										inclusivo y próspero.</p>
									<div class="social">
										<a href="#"><i class="fab fa-facebook-f fa-lg fa-fw"></i></a>
										<a href="#"><i class="fab fa-twitter fa-lg fa-fw"></i></a>
										<a href="#"><i class="fab fa-google-plus-g fa-lg fa-fw"></i></a>
									</div>
								</div>
							</div>
							<!-- end team -->
						</div>
						<!-- end col-4 -->
						<!-- begin col-4 -->
						<div class="col-lg-4">
							<!-- begin team -->
							<div class="team">
								<div class="image" data-animation="true" data-animation-type="animate__flipInX">
									<img src="{% static 'img/user/user-16.jpg' %}" alt="Jonny Cash" />
								</div>
								<div class="info">
									<h3 class="name">Señora Chepa</h3>
									<div class="title text-theme" style="font-size: 16px">Tesorera</div>
									<p style="font-size: 16px">La tesorera de la Junta de Vecinos Unión La Florida es una administradora financiera
										diligente, encargada de salvaguardar los recursos comunitarios con transparencia
										y responsabilidad, asegurando el bienestar económico de nuestra comunidad.</p>
									<div class="social">
										<a href="#"><i class="fab fa-facebook-f fa-lg fa-fw"></i></a>
										<a href="#"><i class="fab fa-twitter fa-lg fa-fw"></i></a>
										<a href="#"><i class="fab fa-google-plus-g fa-lg fa-fw"></i></a>
									</div>
								</div>
							</div>
							<!-- end team -->
						</div>
						<!-- end col-4 -->
						<!-- begin col-4 -->
						<div class="col-lg-4">
							<!-- begin team -->
							<div class="team">
								<div class="image" data-animation="true" data-animation-type="animate__flipInX">
									<img src="{% static 'img/user/user-17.jpg' %}" alt="Mia Donovan" />
								</div>
								<div class="info">
									<h3 class="name">Soa Patana</h3>
									<div class="title text-theme" style="font-size: 16px">Secretaria</div>
									<p style="font-size: 16px">La Secretaria de la Junta de Vecinos Unión La Florida, una comunicadora habilidosa y
										organizadora comprometida, desempeña un papel clave en el mantenimiento de
										registros precisos y la facilitación de una comunicación efectiva dentro de
										nuestra comunidad.</p>
									<div class="social">
										<a href="#"><i class="fab fa-facebook-f fa-lg fa-fw"></i></a>
										<a href="#"><i class="fab fa-twitter fa-lg fa-fw"></i></a>
										<a href="#"><i class="fab fa-google-plus-g fa-lg fa-fw"></i></a>
									</div>
								</div>
							</div>
							<!-- end team -->
						</div>
						<!-- end col-4 -->
					</div>
					<!-- end row -->
				</div>
				<!-- end container -->
			</div>
			<!-- end #team -->

			<!-- begin #quote -->
			<div id="quote" class="content bg-black-darker has-bg" data-scrollview="true">
				<!-- begin content-bg -->
				<div class="content-bg" style="background-image: url('{% static 'img/bg/bg-quote.jpg' %}')"
					data-paroller-factor="0.5" data-paroller-factor-md="0.01" data-paroller-factor-xs="0.01">
				</div>
				<!-- end content-bg -->
				<!-- begin container -->
				<div class="container" data-animation="true" data-animation-type="animate__fadeInLeft">
					<!-- begin row -->
					<div class="row">
						<!-- begin col-12 -->
						<div class="col-lg-12 quote">
							<i class="fa fa-quote-left"></i> La Junta de Vecinos Unión La Florida se dedica a fortalecer el
							sentido de comunidad y promover una calidad de vida excepcional para todos. Estamos
							comprometidos con la participación activa de nuestros vecinos en la toma de decisiones y en
							la creación de un entorno que refleje los valores y aspiraciones de<br />
							<span class="text-theme">cada uno.</span>
							<i class="fa fa-quote-right"></i>
							<small></small>
						</div>
						<!-- end col-12 -->
					</div>
					<!-- end row -->
				</div>
				<!-- end container -->
			</div>
			<!-- end #quote -->

			<!-- beign #service -->
			<div id="service" class="content" data-scrollview="true">
				<!-- begin container -->
				<div class="container">
					<h2 class="content-title">NUESTROS SERVICIOS</h2>
					<p class="content-desc" style="font-size: 18px">
						¡Bienvenidos a nuestra sección de Servicios, donde nos esforzamos por enriquecer la vida de nuestra comunidad! A continuación, destacamos algunas de las maneras en que la Junta de Vecinos está comprometida con su bienestar y participación activa:
					</p>
					<!-- begin row -->
					<div class="row">
						<!-- begin col-4 -->
						<div class="col-lg-4 col-md-6">
							<div class="service">
								<div class="icon" data-animation="true" data-animation-type="animate__bounceIn"><i
										class="fa fa-cog"></i></div>
								<div class="info">
									<h4 class="title">Participación Comunitaria</h4>
									<p class="desc" style="font-size: 16px">Facilitamos espacios para que los vecinos se involucren activamente en la toma de decisiones, expresen sus inquietudes y contribuyan a la planificación y desarrollo de proyectos comunitarios.</p>
								</div>
							</div>
						</div>
						<!-- end col-4 -->
						<!-- begin col-4 -->
						<div class="col-lg-4 col-md-6">
							<div class="service">
								<div class="icon" data-animation="true" data-animation-type="animate__bounceIn"><i
										class="fa fa-paint-brush"></i></div>
								<div class="info">
									<h4 class="title">Gestión de Residuos y Medio Ambiente</h4>
									<p class="desc" style="font-size: 16px">Coordinamos esfuerzos para mejorar la gestión de residuos, fomentar prácticas sostenibles y promover la conciencia ambiental.</p>
								</div>
							</div>
						</div>
						<!-- end col-4 -->
						<!-- begin col-4 -->
						<div class="col-lg-4 col-md-6">
							<div class="service">
								<div class="icon" data-animation="true" data-animation-type="animate__bounceIn"><i
										class="fa fa-file"></i></div>
								<div class="info">
									<h4 class="title">Asistencia Vecinal</h4>
									<p class="desc" style="font-size: 16px">Facilitamos la ayuda entre vecinos, como redes de apoyo para personas mayores, programas de tutoría, y asistencia en situaciones de emergencia.</p>
								</div>
							</div>
						</div>
						<!-- end col-4 -->
						<!-- begin col-4 -->
						<div class="col-lg-4 col-md-6">
							<div class="service">
								<div class="icon" data-animation="true" data-animation-type="animate__bounceIn"><i
										class="fa fa-code"></i></div>
								<div class="info">
									<h4 class="title">Certificación de Residencia</h4>
									<p class="desc" style="font-size: 16px">La Junta de Vecinos Unión La Florida se dedica a facilitar la obtención de certificados de residencia para sus vecinos. Este servicio es esencial para validar la residencia en nuestra comunidad y se proporciona de manera eficiente y amigable.</p>
								</div>
							</div>
						</div>
						<!-- end col-4 -->
						<!-- begin col-4 -->
						<div class="col-lg-4 col-md-6">
							<div class="service">
								<div class="icon" data-animation="true" data-animation-type="animate__bounceIn"><i
										class="fa fa-shopping-cart"></i></div>
								<div class="info">
									<h4 class="title">Información y Comunicación</h4>
									<p class="desc" style="font-size: 16px">Mantener a los residentes informados sobre noticias locales, eventos y cambios importantes a través de boletines, redes sociales o sitios web.</p>
								</div>
							</div>
						</div>
						<!-- end col-4 -->
						<!-- begin col-4 -->
						<div class="col-lg-4 col-md-6">
							<div class="service">
								<div class="icon" data-animation="true" data-animation-type="animate__bounceIn"><i
										class="fa fa-heart"></i></div>
								<div class="info">
									<h4 class="title">Iniciativas de Salud Comunitaria</h4>
									<p class="desc" style="font-size: 16px">Organizar programas de salud, ferias de salud, y actividades deportivas para promover estilos de vida saludables entre los residentes.</p>
								</div>
							</div>
						</div>
						<!-- end col-4 -->
					</div>
					<!-- end row -->
				</div>
				<!-- end container -->
			</div>
			<!-- end #service -->

			<!-- beign #action-box -->
			<!-- end #action-box -->

			<!-- begin #work -->
			<div id="work" class="content" data-scrollview="true">
				<!-- begin container -->
				<div class="container" data-animation="true" data-animation-type="animate__fadeInDown">
					<h2 class="content-title">¡ENTERATE DE LAS ULTIMAS NOTICIAS!</h2>
					<p class="content-desc" style="font-size: 18px">
						En este espacio podras descubrir las distintas actividades que se realizaran en nuestra comunidad<br />
					</p>
					
					<!-- begin row -->
					<div class="row row-space-10">
						<!-- begin col-3 -->
						<div class="col-lg-6 col-md-4">
							<!-- begin work -->
							<div class="service">
								<div class="info">
									<h4 class="title">Titulo</h4>
									<p class="desc" style="font-size: 16px">Organizar programas de salud, ferias de salud, y actividades deportivas para promover estilos de vida saludables entre los residentes.</p>
									<b>21 <sub>NOV 2023</sub></b><span class="divider">|</span><a href="post_detail.html">Leer mas <i class="fa fa-angle-double-right"></i></a>
								</div>
							</div>
							<!-- end work -->
						</div>
						<!-- end col-3 -->
					</div>
					<!-- end row -->
				</div>
				<!-- end container -->
			</div>
			<!-- end #work -->

			<!-- begin #client -->
			<div id="client" class="content has-bg bg-green" data-scrollview="true">
				<!-- begin content-bg -->
				<div class="content-bg" style="background-image: url('{% static 'img/bg/bg-munn.jpg' %}')"
					data-paroller-factor="0.5" data-paroller-factor-md="0.01" data-paroller-factor-xs="0.01">
				</div>
				<!-- end content-bg -->
				<!-- begin container -->
				<div class="container" data-animation="true" data-animation-type="animate__fadeInUp">
					<h2 class="content-title">Municipalidad/Alcalde Rodolfo Carter</h2>
					<!-- begin carousel -->
					<div class="carousel testimonials slide" data-ride="carousel" id="testimonials">
						<!-- begin carousel-inner -->
						<div class="carousel-inner text-center">
							<!-- begin item -->
							<div class="carousel-item active">
								<blockquote>
									<i class=""></i>
									Américo Vespucio 6886 Ed. San Pablo - Avda. Vicuña Mackenna 10777
									<i class=""></i>
								</blockquote>
								<div class="name"> — <span class="text-theme"></span></div>
							</div>
							<!-- end item -->
							<!-- begin item -->
							<div class="carousel-item">
								<blockquote>
									<i class=""></i>
									Seguridad ciudadana:<br />
									Marca desde tu celular en número 1416
									<i class=""></i>
								</blockquote>
								<div class="name"> — <span class="text-theme"></span></div>
							</div>
							<!-- end item -->
							<!-- begin item -->
							<div class="carousel-item">
								<blockquote>
									<i class=""></i>
									Sitio web Municipalidad de La Florida:<br />
									Accede a traves del siguiente enlace <a href="https://www.laflorida.cl/sitio/" target="_blank">https://www.laflorida.cl/sitio/</a>
									<i class=""></i>
								</blockquote>
								<div class="name"> — <span class="text-theme"></span></div>
							</div>
							<!-- end item -->
						</div>
						<!-- end carousel-inner -->
						<!-- begin carousel-indicators -->
						<ol class="carousel-indicators m-b-0">
							<li data-bs-target="#testimonials" data-bs-slide-to="0" class="active"></li>
							<li data-bs-target="#testimonials" data-bs-slide-to="1" class=""></li>
							<li data-bs-target="#testimonials" data-bs-slide-to="2" class=""></li>
						</ol>
						<!-- end carousel-indicators -->
					</div>
					<!-- end carousel -->
				</div>
				<!-- end containter -->
			</div>
			<!-- end #client -->
			<!-- end #pricing -->

			<!-- begin #contact -->
			<div id="contact" class="content bg-light" data-scrollview="true">
				<!-- begin container -->
				<div class="container">
					<h2 class="content-title">Contáctanos</h2>
					<p class="content-desc" style="font-size: 18px">
						Porque en nuestra Junta de vecinos Unión La Florida nos importas tú, envía tu comentario o solicitud para ayudarte en lo que necesitas.<br />
					</p>
					<!-- begin row -->
					<div class="row">
						<!-- begin col-6 -->
						<div class="col-lg-6" data-animation="true" data-animation-type="animate__fadeInLeft">
							<h3>¡Déjanos tu mensaje y te contactaremos!</h3>
							<br>
							<p style="font-size: 18px">
								<strong>Junta de vecinos Unión La Florida</strong><br />
								General Arriagada 1065<br />
								La Florida<br />
								T: (022) 555-5678<br />
							</p>
							<p style="font-size: 18px">
								<span class="phone"></span><br />
								<a href="barriolink@gmail.com" class="text-theme">barriolink@gmail.com</a>
							</p>
						</div>
						<!-- end col-6 -->
						<!-- begin col-6 -->
						<div class="col-lg-6 form-col" data-animation="true" data-animation-type="animate__fadeInRight">
							<form class="form-horizontal">
								<div class="row mb-3">
									<label class="col-form-label col-lg-3 text-lg-right">Nombre <span
											class="text-theme">*</span></label>
									<div class="col-lg-9">
										<input type="text" class="form-control" />
									</div>
								</div>
								<div class="row mb-3">
									<label class="col-form-label col-lg-3 text-lg-right">Correo <span
											class="text-theme">*</span></label>
									<div class="col-lg-9">
										<input type="text" class="form-control" />
									</div>
								</div>
								<div class="row mb-3">
									<label class="col-form-label col-lg-3 text-lg-right">Mensaje <span
											class="text-theme">*</span></label>
									<div class="col-lg-9">
										<textarea class="form-control" rows="10"></textarea>
									</div>
								</div>
								<div class="row mb-3">
									<label class="col-form-label col-lg-3 text-lg-right"></label>
									<div class="col-lg-9 text-left">
										<button type="submit" class="btn btn-theme btn-primary btn-block">Enviar mensaje</button>
									</div>
								</div>
							</form>
						</div>
						<!-- end col-6 -->
					</div>
					<!-- end row -->
				</div>
				<!-- end container -->
			</div>
			<!-- end #contact -->

			<!-- begin #footer -->
			<div id="footer" class="footer">
				<div class="container">
					<div class="footer-brand">
						<div class="footer-brand-logo"></div>
						BarrioLink
					</div>
					<p>
						&copy; Junta de Vecinos Unión La Florida <br />
					</p>
					<p class="social-list">
						<a href="#"><i class="fab fa-facebook-f fa-fw"></i></a>
						<a href="#"><i class="fab fa-instagram fa-fw"></i></a>
						<a href="#"><i class="fab fa-twitter fa-fw"></i></a>
						<a href="#"><i class="fab fa-google-plus-g fa-fw"></i></a>
						<a href="#"><i class="fab fa-dribbble fa-fw"></i></a>
					</p>
				</div>
			</div>
			<!-- end #footer -->
			<!-- begin theme-panel -->
			<div class="theme-panel">
				<a href="javascript:;" data-click="theme-panel-expand" class="theme-collapse-btn"><i
						class="fa fa-cog"></i></a>
				<div class="theme-panel-content">
					<ul class="theme-list clearfix">
						<li><a href="javascript:;" class="bg-red" data-theme="theme-red" data-click="theme-selector"
								data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-container="body"
								data-bs-title="Red" data-original-title="" title="">&nbsp;</a></li>
						<li><a href="javascript:;" class="bg-pink" data-theme="theme-pink" data-click="theme-selector"
								data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-container="body"
								data-bs-title="Pink" data-original-title="" title="">&nbsp;</a></li>
						<li><a href="javascript:;" class="bg-orange" data-theme="theme-orange"
								data-click="theme-selector" data-bs-toggle="tooltip" data-bs-trigger="hover"
								data-bs-container="body" data-bs-title="Orange" data-original-title=""
								title="">&nbsp;</a></li>
						<li><a href="javascript:;" class="bg-yellow" data-theme="theme-yellow"
								data-click="theme-selector" data-bs-toggle="tooltip" data-bs-trigger="hover"
								data-bs-container="body" data-bs-title="Yellow" data-original-title=""
								title="">&nbsp;</a></li>
						<li><a href="javascript:;" class="bg-lime" data-theme="theme-lime" data-click="theme-selector"
								data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-container="body"
								data-bs-title="Lime" data-original-title="" title="">&nbsp;</a></li>
						<li><a href="javascript:;" class="bg-green" data-theme="theme-green" data-click="theme-selector"
								data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-container="body"
								data-bs-title="Green" data-original-title="" title="">&nbsp;</a></li>
						<li class="active"><a href="javascript:;" class="bg-teal" data-theme=""
								data-click="theme-selector" data-bs-toggle="tooltip" data-bs-trigger="hover"
								data-bs-container="body" data-bs-title="Default" data-original-title=""
								title="">&nbsp;</a></li>
						<li><a href="javascript:;" class="bg-cyan" data-theme="theme-cyan" data-click="theme-selector"
								data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-container="body"
								data-bs-title="Aqua" data-original-title="" title="">&nbsp;</a></li>
						<li><a href="javascript:;" class="bg-blue" data-theme="theme-blue" data-click="theme-selector"
								data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-container="body"
								data-bs-title="Blue" data-original-title="" title="">&nbsp;</a></li>
						<li><a href="javascript:;" class="bg-purple" data-theme="theme-purple"
								data-click="theme-selector" data-bs-toggle="tooltip" data-bs-trigger="hover"
								data-bs-container="body" data-bs-title="Purple" data-original-title=""
								title="">&nbsp;</a></li>
						<li><a href="javascript:;" class="bg-indigo" data-theme="theme-indigo"
								data-click="theme-selector" data-bs-toggle="tooltip" data-bs-trigger="hover"
								data-bs-container="body" data-bs-title="Indigo" data-original-title=""
								title="">&nbsp;</a></li>
						<li><a href="javascript:;" class="bg-black" data-theme="theme-black" data-click="theme-selector"
								data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-container="body"
								data-bs-title="Black" data-original-title="" title="">&nbsp;</a></li>
					</ul>
					<hr class="mb-0" />
					<div class="row mt-10px pt-3px">
						<div class="col-9 control-label text-dark fw-bold">
							<div>Dark Mode <span class="badge bg-primary ms-1 position-relative py-4px px-6px"
									style="top: -1px">NEW</span></div>
							<div class="lh-14 fs-13px">
								<small class="text-dark opacity-50">
									Adjust the appearance to reduce glare and give your eyes a break.
								</small>
							</div>
						</div>
						<div class="col-3 d-flex">
							<div class="form-check form-switch ms-auto mb-0 mt-2px">
								<input type="checkbox" class="form-check-input" name="app-theme-dark-mode"
									id="appThemeDarkMode" value="1" />
								<label class="form-check-label" for="appThemeDarkMode">&nbsp;</label>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- end theme-panel -->
		</div>
		<!-- end #page-container -->

		<!-- ================== BEGIN BASE JS ================== -->
		<script src="{% static 'js/one-page-parallax/vendor.min.js' %}"></script>
		<script src="{% static 'js/one-page-parallax/app.min.js' %}"></script>



</body>

</html>