{% extends "base.html" %}
{% load static %}

{% block content %}

		<!-- BEGIN #content -->
		<div id="content" class="app-content p-0">
			<div class="container">
				<div class="row">
					<div class="col-md"></div>
		
					<div class="col-md">
						<div class="card card-body">
							 <div class="text-center"> 
							<h3>View Invoices or download directly to PDF</h3>
							<p>Turn HTML templates into PDF's with Django + XHTML 2 PDF. This example gives you the option of  <br> view a template as a PDF or Downloading directly.</p>
							<a class="btn btn-info" href="{% url 'pdf_view' %}" target="_blank">View Invoice</a>
							<a class="btn btn-info"  href="{% url 'pdf_download' %}">Download Invoice</a>
							</div>
						</div>
					</div>
		
					<div class="col-md"></div>
				</div>
			</div>
		
		</div>
		<!-- END #content -->

{% endblock content %}