{% extends "base.html" %}
{% load static %}

{% block content %}

<div id="content" class="app-content">
	<!-- BEGIN page-header -->
	<h1 class="page-header">Solicitudes</h1>
	<!-- END page-header -->
	<!-- BEGIN panel -->
	<div class="panel panel-inverse">
		<!-- BEGIN panel-body -->
		<div class="panel-body">
			<!-- BEGIN #content -->
            
            <div class="card border-0">
                <ul class="nav nav-tabs nav-tabs-v2 px-3" role="tablist">
                    <li class="nav-item me-2" role="presentation"><a href="#allTab" class="nav-link px-2 active"
                            data-bs-toggle="tab" aria-selected="true" role="tab">Todas</a></li>
                    <li class="nav-item me-2" role="presentation"><a href="#publishedTab" class="nav-link px-2" data-bs-toggle="tab"
                            aria-selected="false" role="tab" tabindex="-1">Nuevas</a></li>
                    <li class="nav-item me-2" role="presentation"><a href="#expiredTab" class="nav-link px-2" data-bs-toggle="tab"
                            aria-selected="false" role="tab" tabindex="-1">Validadas</a></li>
                    <li class="nav-item me-2" role="presentation"><a href="#deletedTab" class="nav-link px-2" data-bs-toggle="tab"
                            aria-selected="false" role="tab" tabindex="-1">Eliminadas</a></li>
                </ul>
                <div class="tab-content p-3">
                    <div class="tab-pane fade active show" id="allTab" role="tabpanel">
                        <!-- 1 Pestaña Todas -->
                        <div class="input-group mb-3">
                            <div class="flex-fill position-relative">
                                <div class="input-group">
                                    <div class="input-group-text position-absolute top-0 bottom-0 bg-none border-0 start-0"
                                        style="z-index: 1;">
                                        <i class="fa fa-search opacity-5"></i>
                                    </div>
                                    <input type="text" class="form-control px-35px bg-light" placeholder="Buscar...">
                                </div>
                            </div>
                        </div>
                        <!-- END input-group -->
                        <!-- BEGIN table -->
                        <div class="table-responsive mb-3">
                            <table class="table table-hover table-panel text-nowrap align-middle mb-0">
                                <thead>
                                    <tr>
                                        <th>Estado</th>
                                        <th>Fecha</th>
                                        <th>Nombre</th>
                                        <th>Información</th>
                                        <th>Opción</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for solicitud in solicitudes %}
                                    <tr>
                                        <td><span
                                            class="badge border border-success text-success px-2 pt-5px pb-5px rounded fs-12px d-inline-flex align-items-center"><i
                                                class="fa fa-circle fs-9px fa-fw me-5px"></i>{{ solicitud.estado }}</span></td>
                                        <td>{{ solicitud.formatted_fecha_publicacion }}</td>
                                        <td>{{ solicitud.usersol.nombres }} {{ solicitud.usersol.apellidos }}</td>
                                        <td>{{ solicitud.contenido }}</td>
                                        <td><a href="#modal-dialog" class="btn btn-sm btn-info w-100px ver-btn" data-bs-toggle="modal" data-solicitud="{{ solicitud.contenido }}">ver</a></td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <br>
                        <!-- END table -->
                        <div class="d-md-flex align-items-center">
                            <div class="me-md-auto text-md-left text-center mb-2 mb-md-0">
                                Mostrando {{ solicitudes.start_index }} de {{ solicitudes.end_index }} de {{ solicitudes.paginator.count }} filas
                            </div>
                            <ul class="pagination mb-0 justify-content-center">
                                {% if solicitudes.has_previous %}
                                <li class="page-item"><a class="page-link" href="?page=1">Primera</a></li>
                                <li class="page-item"><a class="page-link"
                                        href="?page={{ solicitudes.previous_page_number }}">Anterior</a></li>
                                {% endif %}

                                {% for i in solicitudes.paginator.page_range %}
                                {% if solicitudes.number == i %}
                                <li class="page-item active"><span class="page-link">{{ i }}</span></li>
                                {% else %}
                                <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                                {% endif %}
                                {% endfor %}

                                {% if solicitudes.has_next %}
                                <li class="page-item"><a class="page-link"
                                        href="?page={{ solicitudes.next_page_number }}">Proxima</a></li>
                                <li class="page-item"><a class="page-link"
                                        href="?page={{ solicitudes.paginator.num_pages }}">Ultima</a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="publishedTab" role="tabpanel">
                        <!-- 2 Pestaña nuevas -->
                        <div class="input-group mb-3">
                            <div class="flex-fill position-relative">
                                <div class="input-group">
                                    <div class="input-group-text position-absolute top-0 bottom-0 bg-none border-0 start-0"
                                        style="z-index: 1;">
                                        <i class="fa fa-search opacity-5"></i>
                                    </div>
                                    <input type="text" class="form-control px-35px bg-light" placeholder="Buscar...">
                                </div>
                            </div>
                        </div>
                        <!-- END input-group -->
                        <div class="table-responsive mb-3">
                            <table class="table table-hover table-panel text-nowrap align-middle mb-0">
                                <thead>
                                    <tr>
                                        <th>Estado</th>
                                        <th>Fecha</th>
                                        <th>Nombre</th>
                                        <th>Información</th>
                                        <th>Validar</th>
                                        <th>Eliminar</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for solicitud in solicitudes %}
                                    {% if solicitud.estado == 'nueva' %}
                                    <tr>
                                        <td><span
                                            class="badge border border-warning text-warning px-2 pt-5px pb-5px rounded fs-12px d-inline-flex align-items-center"><i
                                                class="fa fa-circle fs-9px fa-fw me-5px"></i>{{ solicitud.estado }}</span></td>
                                        <td>{{ solicitud.formatted_fecha_publicacion }}</td>
                                        <td>{{ solicitud.usersol.nombres }} {{ solicitud.usersol.apellidos }}</td>
                                        <td>{{ solicitud.contenido }}</td>
                                        <td><a href="{% url 'cambiar_estado' solicitud.id 'validada' %}" class="btn btn-sm btn-success w-100px">Validar</a></td>
                                        <td><a href="{% url 'cambiar_estado' solicitud.id 'eliminada' %}" class="btn btn-sm btn-danger w-100px">Eliminar</a></td>
                                    </tr>
                                    {% endif %}
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <br>
                        <!-- END table -->
                        <div class="d-md-flex align-items-center">
                            <div class="me-md-auto text-md-left text-center mb-2 mb-md-0">
                                Mostrando {{ solicitudes.start_index }} de {{ solicitudes.end_index }} de {{ solicitudes.paginator.count }} filas
                            </div>
                            <ul class="pagination mb-0 justify-content-center">
                                {% if solicitudes.has_previous %}
                                <li class="page-item"><a class="page-link" href="?page=1">Primera</a></li>
                                <li class="page-item"><a class="page-link"
                                        href="?page={{ solicitudes.previous_page_number }}">Anterior</a></li>
                                {% endif %}

                                {% for i in solicitudes.paginator.page_range %}
                                {% if solicitudes.number == i %}
                                <li class="page-item active"><span class="page-link">{{ i }}</span></li>
                                {% else %}
                                <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                                {% endif %}
                                {% endfor %}

                                {% if solicitudes.has_next %}
                                <li class="page-item"><a class="page-link"
                                        href="?page={{ solicitudes.next_page_number }}">Proxima</a></li>
                                <li class="page-item"><a class="page-link"
                                        href="?page={{ solicitudes.paginator.num_pages }}">Ultima</a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="expiredTab" role="tabpanel">
                        <!-- 3 Pestaña validadas -->
                        <div class="input-group mb-3">
                            <div class="flex-fill position-relative">
                                <div class="input-group">
                                    <div class="input-group-text position-absolute top-0 bottom-0 bg-none border-0 start-0"
                                        style="z-index: 1;">
                                        <i class="fa fa-search opacity-5"></i>
                                    </div>
                                    <input type="text" class="form-control px-35px bg-light" placeholder="Buscar...">
                                </div>
                            </div>
                        </div>
                        <!-- END input-group -->
                        <div class="table-responsive mb-3">
                            <table class="table table-hover table-panel text-nowrap align-middle mb-0">
                                <thead>
                                    <tr>
                                        <th>Estado</th>
                                        <th>Fecha</th>
                                        <th>Nombre</th>
                                        <th>Información</th>
                                        <th>Opción</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for solicitud in solicitudes %}
                                    {% if solicitud.estado == 'validada' %}
                                    <tr>
                                        <td><span
                                            class="badge border border-success text-success px-2 pt-5px pb-5px rounded fs-12px d-inline-flex align-items-center"><i
                                                class="fa fa-circle fs-9px fa-fw me-5px"></i>{{ solicitud.estado }}</span></td>
                                        <td>{{ solicitud.formatted_fecha_publicacion }}</td>
                                        <td>{{ solicitud.usersol.nombres }} {{ solicitud.usersol.apellidos }}</td>
                                        <td>{{ solicitud.contenido }}</td>
                                        <td><a href="" class="btn btn-sm btn-success w-100px">Publicar</a></td>
                                    </tr>
                                    {% endif %}
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <br>
                        <!-- END table -->
                        <div class="d-md-flex align-items-center">
                            <div class="me-md-auto text-md-left text-center mb-2 mb-md-0">
                                Mostrando {{ solicitudes.start_index }} de {{ solicitudes.end_index }} de {{ solicitudes.paginator.count }} filas
                            </div>
                            <ul class="pagination mb-0 justify-content-center">
                                {% if solicitudes.has_previous %}
                                <li class="page-item"><a class="page-link" href="?page=1">Primera</a></li>
                                <li class="page-item"><a class="page-link"
                                        href="?page={{ solicitudes.previous_page_number }}">Anterior</a></li>
                                {% endif %}

                                {% for i in solicitudes.paginator.page_range %}
                                {% if solicitudes.number == i %}
                                <li class="page-item active"><span class="page-link">{{ i }}</span></li>
                                {% else %}
                                <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                                {% endif %}
                                {% endfor %}

                                {% if solicitudes.has_next %}
                                <li class="page-item"><a class="page-link"
                                        href="?page={{ solicitudes.next_page_number }}">Proxima</a></li>
                                <li class="page-item"><a class="page-link"
                                        href="?page={{ solicitudes.paginator.num_pages }}">Ultima</a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="deletedTab" role="tabpanel">
                        <!-- 4 Pestaña eliminar -->           
                        <div class="input-group mb-3">
                            <div class="flex-fill position-relative">
                                <div class="input-group">
                                    <div class="input-group-text position-absolute top-0 bottom-0 bg-none border-0 start-0"
                                        style="z-index: 1;">
                                        <i class="fa fa-search opacity-5"></i>
                                    </div>
                                    <input type="text" class="form-control px-35px bg-light" placeholder="Buscar...">
                                </div>
                            </div>
                        </div>
                        <!-- END input-group -->
                        <div class="table-responsive mb-3">
                            <table class="table table-hover table-panel text-nowrap align-middle mb-0">
                                <thead>
                                    <tr>
                                        <th>Estado</th>
                                        <th>Fecha</th>
                                        <th>Nombre</th>
                                        <th>Información</th>
                                        <th>Opción</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for solicitud in solicitudes %}
                                {% if solicitud.estado == 'eliminada' %}
                                    <tr>
                                        <td><span
                                            class="badge border border-danger text-danger px-2 pt-5px pb-5px rounded fs-12px d-inline-flex align-items-center"><i
                                                class="fa fa-circle fs-9px fa-fw me-5px"></i>{{ solicitud.estado }}</span></td>
                                        <td>{{ solicitud.formatted_fecha_publicacion }}</td>
                                        <td>{{ solicitud.usersol.nombres }} {{ solicitud.usersol.apellidos }}</td>
                                        <td>{{ solicitud.contenido }}</td>
                                        <td><a href="{% url 'recuperar_solicitud' solicitud.id %}" class="btn btn-sm btn-warning w-100px">Recuperar</a></td>
                                    </tr>
                                    {% endif %}
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <br>
                        <!-- END table -->
                        <div class="d-md-flex align-items-center">
                            <div class="me-md-auto text-md-left text-center mb-2 mb-md-0">
                                Mostrando {{ solicitudes.start_index }} de {{ solicitudes.end_index }} de {{ solicitudes.paginator.count }} filas
                            </div>
                            <ul class="pagination mb-0 justify-content-center">
                                {% if solicitudes.has_previous %}
                                <li class="page-item"><a class="page-link" href="?page=1">Primera</a></li>
                                <li class="page-item"><a class="page-link"
                                        href="?page={{ solicitudes.previous_page_number }}">Anterior</a></li>
                                {% endif %}

                                {% for i in solicitudes.paginator.page_range %}
                                {% if solicitudes.number == i %}
                                <li class="page-item active"><span class="page-link">{{ i }}</span></li>
                                {% else %}
                                <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                                {% endif %}
                                {% endfor %}

                                {% if solicitudes.has_next %}
                                <li class="page-item"><a class="page-link"
                                        href="?page={{ solicitudes.next_page_number }}">Proxima</a></li>
                                <li class="page-item"><a class="page-link"
                                        href="?page={{ solicitudes.paginator.num_pages }}">Ultima</a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>       
                </div>
            </div>
            <!-- Modal allTab -->
            <div class="modal fade" id="modal-dialog" tabindex="-1" aria-labelledby="modal-dialog-label" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Solicitud</h4>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>
                        </div>
                        <div class="modal-body">
                            <div class="alert alert-danger">
                                <h5><i class="fa fa-info-circle"></i> Información de noticia</h5>
                                <p id="solicitud-contenido"></p>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <a href="javascript:;" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</a>
                        </div>
                    </div>
                </div>
            </div>
                <!-- END panel-body -->
        </div>
    </div>
</div>        
<script>
		document.addEventListener('DOMContentLoaded', function () {
			// Manejar clic en los botones del primer modal
			var verButtons = document.querySelectorAll('.ver-btn');
			verButtons.forEach(function (button) {
				button.addEventListener('click', function () {
					var contenido = button.getAttribute('data-solicitud');
					var modalContent = document.getElementById('modal-dialog').querySelector('.modal-body p');
					modalContent.textContent = contenido;
				});
			});
		});
</script>
{% endblock content %}