{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- BEGIN #content -->
<!-- account/adm/news_validation.html -->

<!-- ... tu código HTML anterior ... -->

<tbody>
    {% for solicitud in solicitudes %}
        <tr>
            <td>
                {% if solicitudes.estado == 'nueva' %}
                    <span class="badge border border-warning text-warning px-2 pt-5px pb-5px rounded fs-12px d-inline-flex align-items-center">
                        <i class="fa fa-circle fs-9px fa-fw me-5px"></i> Nueva
                    </span>
                {% elif solicitudes.estado == 'eliminada' %}
                    <span class="badge border border-danger text-danger px-2 pt-5px pb-5px rounded fs-12px d-inline-flex align-items-center">
                        <i class="fa fa-circle fs-9px fa-fw me-5px"></i> Eliminada
                    </span>
                {% elif solicitudes.estado == 'validada' %}
                    <span class="badge border border-success text-success px-2 pt-5px pb-5px rounded fs-12px d-inline-flex align-items-center">
                        <i class="fa fa-circle fs-9px fa-fw me-5px"></i> Validada
                    </span>
                {% endif %}
            </td>
            <td>{{ solicitudes.fecha_solicitud }}</td>
            <td>{{ solicitudes.usuario.username }}</td>
            <td>{{ solicitudes.contenido }}</td>
            <td>
                <a href="#modal-dialog" class="btn btn-sm btn-success w-100px" data-bs-toggle="modal">ver</a>
            </td>
        </tr>
    {% endfor %}
</tbody>

<!-- ... el resto de tu código HTML ... -->

{% endblock content %}