{% extends "base.html" %}
{% load static %}

{% block content %}

		<!-- BEGIN #content -->
		<div id="content" class="app-content p-0">
			<div class="panel panel-inverse" data-sortable-id="table-basic-7">

				<div class="panel-heading ui-sortable-handle">
				<h4 class="panel-title">Validación noticias <span class="badge bg-success ms-5px">NEW</span></h4>
				<div class="panel-heading-btn">
				<a href="javascript:;" class="btn btn-xs btn-icon btn-default" data-toggle="panel-expand"><i class="fa fa-expand"></i></a>
				<a href="javascript:;" class="btn btn-xs btn-icon btn-success" data-toggle="panel-reload"><i class="fa fa-redo"></i></a>
				<a href="javascript:;" class="btn btn-xs btn-icon btn-warning" data-toggle="panel-collapse" data-tooltip-init="true"><i class="fa fa-minus"></i></a>
				<a href="javascript:;" class="btn btn-xs btn-icon btn-danger" data-toggle="panel-remove" data-tooltip-init="true"><i class="fa fa-times"></i></a>
				</div>
				</div>				
				<div class="panel-body">				
				<div class="table-responsive">
				<table class="table table-striped mb-0 align-middle">
				<thead>
				<tr>
				<th>#</th>
				<th>Nombre</th>
				<th>Correo</th>
				<th width="1%"></th>
				</tr>
				</thead>
				<tbody>
				<tr>
				<td>
				<img src="../assets/img/user/user-1.jpg" class="rounded h-30px">
				</td>
				<td>Juan Carlos Bodoque</td>
				<td>jcb@hotmail.com</td>
				<td nowrap="">
				<a href="#" class="btn btn-sm btn-primary w-80px me-1">ver solicitud</a>
				<a href="#" class="btn btn-sm btn-white w-70px">Descartar</a>
				</td>
				</tr>
				<tr>
				<td>

				</div>
				</td>
				</tr>
				<tr>
				<td>
				<img src="../assets/img/user/user-3.jpg" class="rounded h-30px">
				</td>
				<td>Señora Chepa</td>
				<td>schepa@gmail.com</td>
				<td class="with-btn" nowrap="">
				<a href="#" class="btn btn-sm btn-primary w-80px me-1">ver solicitud</a>
				<a href="#" class="btn btn-sm btn-white w-70px">Descartar</a>
				</td>
				</tr>
				</tbody>
				</table>
				</div>				
				</div>				
				<div class="hljs-wrapper">
				<pre><code class="html hljs language-xml" data-url="../assets/data/table-basic/code-7.json"><span class="hljs-tag">&lt;<span class="hljs-name">table</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"table align-middle"</span>&gt;</span>
				  ...
				<span class="hljs-tag">&lt;/<span class="hljs-name">table</span>&gt;</span></code></pre>
				</div>				
			</div>
		</div>
		<!-- END #content -->

{% endblock content %}