{% extends "base.html" %}
{% load static %}

{% block content %}

		<!-- BEGIN #content -->
		<div id="content" class="app-content p-0">
			<div class="panel panel-inverse" data-sortable-id="table-basic-7">
				<div class="panel-heading ui-sortable-handle">
				<h4 class="panel-title">Solicitudes de publicación de noticias <span class="badge bg-success ms-5px">NUEVAS</span></h4>
				<div class="panel-heading-btn">
				<a href="javascript:;" class="btn btn-xs btn-icon btn-default" data-toggle="panel-expand"><i class="fa fa-expand"></i></a>
				<a href="javascript:;" class="btn btn-xs btn-icon btn-success" data-toggle="panel-reload"><i class="fa fa-redo"></i></a>
				<a href="javascript:;" class="btn btn-xs btn-icon btn-warning" data-toggle="panel-collapse"><i class="fa fa-minus"></i></a>
				<a href="javascript:;" class="btn btn-xs btn-icon btn-danger" data-toggle="panel-remove"><i class="fa fa-times"></i></a>
				</div>
				</div>				
				<div class="panel-body">				
				<div class="table-responsive">
				<table class="table table-striped mb-0 align-middle">
				<thead>
				<tr>
				<th>#</th>
				<th>Nombre</th>
				<th>Correo</th>
				<th width="1%"></th>
				</tr>
				</thead>
				<tbody>
				<tr>
				<td>
				<img src="../assets/img/user/user-1.jpg" class="rounded h-30px">
				</td>
				<td>vecino</td>
				<td>vacino@hotmail.com</td>
				<td nowrap="">
				<a href="#" class="btn btn-sm btn-primary w-60px me-1">ver</a>
				<a href="#" class="btn btn-sm btn-white w-70px">eliminar</a>
				</td>
				</tr>
				<tr>
				</thead>
				<tbody>
				<tr>
				<td>
				<img src="../assets/img/user/user-1.jpg" class="rounded h-30px">
				</td>
				<td>vecina</td>
				<td>vecina@gmail.com</td>
				<td class="with-btn" nowrap="">
				<a href="#" class="btn btn-sm btn-primary w-60px me-1">ver</a>
				<a href="#" class="btn btn-sm btn-white w-70px">eliminar</a>
				</td>
				</tr>
				</tbody>
				</table>
				</div>				
			</div>
		</div>
		<!-- END #content -->

{% endblock content %}