{% load static %} <!-- Cargar la etiqueta static -->
    <!-- cargar archivos CSS -->
    <link href="{% static 'css/vendor.min.css' %}" rel="stylesheet" />
    <link href="{% static 'css/default/app.min.css' %}" rel="stylesheet" />
{% block content %}
<div class="container">
  <div class="row mt-5 pt-3">
    <div class="col-md-8 offset-md-2">
      <div class="card my-3 shadow">
        <div class="card-body">
          <h4>Restablecimiento de contraseña</h4>
          <hr>
          <div class="alert alert-info">
            Ingrese su dirección de correo electrónico y le enviaremos instrucciones para restablecer su contraseña..
          </div>
          <form method="POST">
            {% csrf_token %}
            <div class="form-group">
              {% if form.email.errors %}
              {{ form.email.errors }}
              {% endif %}
              <label for="id_email">Email:</label>
              <input type="email" name="email" id="id_email" class="form-control" required>
            </div>
            <input class="btn btn-primary btn-block" type="submit" value="Restablecer">
          </form>
          <hr>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

   <!--  archivos JavaScript  -->
   <script src="{% static 'js/vendor.min.js' %}"></script>
   <script src="{% static 'js/app.min.js' %}"></script>

   <!-- ================== BEGIN page-js ================== -->
   <script src="{% static 'js/demo/login-v2.demo.js' %}"></script>
   <!-- ================== END page-js ================== -->
