{% load static %} <!-- Cargar la etiqueta static -->
    <!-- cargar archivos CSS -->
    <link href="{% static 'css/vendor.min.css' %}" rel="stylesheet" />
    <link href="{% static 'css/default/app.min.css' %}" rel="stylesheet" />
{% block title %}Password Reset Confirm Page{% endblock %}
{% block content %}
    {% if validlink %}
        <p>Please enter (and confirm) your new password.</p>
        <div class="container">
            <div class="row mt-5 pt-3">
                <div class="col-md-8 offset-md-2">
                    <div class="card my-3 shadow">
                        <div class="card-body">
                            <h4>Password Reset Confirm Page</h4>
                            <hr>
                            <form method="POST">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="id_email">Email:</label>
                                    <input type="email" name="email" id="id_email" class="form-control" required>
                                </div>
                                <input class="btn btn-primary btn-block" type="submit" value="Reset Password Confirm">
                            </form>
                            <hr>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    {% else %}
        <h1>Password reset failed</h1>
        <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
    {% endif %}
{% endblock %}

   <!--  archivos JavaScript  -->
   <script src="{% static 'js/vendor.min.js' %}"></script>
   <script src="{% static 'js/app.min.js' %}"></script>

   <!-- ================== BEGIN page-js ================== -->
   <script src="{% static 'js/demo/login-v2.demo.js' %}"></script>
   <!-- ================== END page-js ================== -->