
{% load static %} <!-- cargar la etiqueta static -->

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <title>BarrioLink</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    
    <!-- cargar archivos CSS -->
    <link href="{% static 'css/vendor.min.css' %}" rel="stylesheet" />
    <link href="{% static 'css/default/app.min.css' %}" rel="stylesheet" />

    <!-- ================== BEGIN page-css ================== -->
	<link href="{% static 'plugins/datatables.net-bs5/css/dataTables.bootstrap5.min.css' %}" rel="stylesheet" />
	<link href="{% static 'plugins/datatables.net-responsive-bs5/css/responsive.bootstrap5.min.css' %}" rel="stylesheet" />
	<link href="{% static 'plugins/datatables.net-buttons-bs5/css/buttons.bootstrap5.min.css' %}" rel="stylesheet" />
	<link href="{% static 'plugins/datatables.net-colreorder-bs5/css/colReorder.bootstrap5.min.css' %}" rel="stylesheet" />
	<link href="{% static 'plugins/datatables.net-keytable-bs5/css/keyTable.bootstrap5.min.css' %}" rel="stylesheet" />
	<link href="{% static 'plugins/datatables.net-rowreorder-bs5/css/rowReorder.bootstrap5.min.css' %}" rel="stylesheet" />
	<link href="{% static 'plugins/datatables.net-select-bs5/css/select.bootstrap5.min.css' %}" rel="stylesheet" />
	<!-- ================== END page-css ================== -->
</head>
<body>
	<!-- BEGIN #loader -->
	<div id="loader" class="app-loader">
		<span class="spinner"></span>
	</div>
	<!-- END #loader -->

	<!-- BEGIN #app -->
	<div id="app" class="app app-header-fixed app-sidebar-fixed">
		<!-- BEGIN #header -->
		{% block navbar %}
		<div id="header" class="app-header">
			<!-- BEGIN navbar-header -->
			<div class="navbar-header">
				<a href="index.html" class="navbar-brand"><span class="navbar-logo"></span> <b>Barrio</b>Link</a>
				<button type="button" class="navbar-mobile-toggler" data-toggle="app-sidebar-mobile">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<!-- END navbar-header -->
			  <!-- BEGIN header-nav -->
			  <div class="navbar-nav">
                <div class="navbar-item dropdown">
                    <a href="#" data-bs-toggle="dropdown" class="navbar-link dropdown-toggle icon">
                        <i class="fa fa-bell"></i>
                        <span class="badge">5</span>
                    </a>
                    
                </div>
                
                <div class="navbar-item navbar-user dropdown">
                    {% if user.is_authenticated %}
                    <a href="#" class="navbar-link dropdown-toggle d-flex align-items-center" data-bs-toggle="dropdown">
                        <img src="{% static 'img/user/user-13.jpg' %}" alt="" />
						 
                        <span>
                            <span class="d-none d-md-inline">{{ user.nombres|title }}</span>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end me-1">
                        <a href="extra_profile.html" class="dropdown-item">Editar Perfil</a>
                        <a href="email_inbox.html" class="dropdown-item d-flex align-items-center">
                            Inbox
                            <span class="badge bg-danger rounded-pill ms-auto pb-4px">2</span> 
                        </a>
                        <a href="calendar.html" class="dropdown-item">Calendar</a>
                        <a href="settings.html" class="dropdown-item">Configuraciones</a>
                        <div class="dropdown-divider"></div>
                        <a href="/logout" class="dropdown-item">Cerrar Sesión</a>
                    </div>
                    {% else %}
            
                    <a href="/login" class="navbar-link">Login</a>
                    {% endif %}
                </div>
            </div>
            <!-- END header-nav -->
		</div>
		{% endblock %}
		<!-- END #header -->
	
		<!-- BEGIN #sidebar -->
		{% block sidebar %}
		<div id="sidebar" class="app-sidebar">
			<!-- BEGIN scrollbar -->
			<div class="app-sidebar-content" data-scrollbar="true" data-height="100%">
				<!-- BEGIN menu -->
				<div class="menu">
					<div class="menu-profile">
						<a href="javascript:;" class="menu-profile-link" data-toggle="app-sidebar-profile" data-target="#appSidebarProfileMenu">
							<div class="menu-profile-cover with-shadow"></div>
							<div class="menu-profile-image">
								<img src="{% static 'img/user/user-13.jpg' %}" alt="" />
							</div>
							<div class="menu-profile-info">
								<div class="d-flex align-items-center">
									<div class="flex-grow-1">
										{{ user.nombres|title }} {{ user.apellidos|title }}
									</div>
									<div class="menu-caret ms-auto"></div>
								</div>
								<small>
									{% if user.is_hoa_admin %}
            							Administrador JJVV
        							{% else %}
            							Usuario
        							{% endif %}
								</small>
							</div>
						</a>
					</div>
					<div id="appSidebarProfileMenu" class="collapse">
						<div class="menu-item pt-5px">
							<a href="javascript:;" class="menu-link">
								<div class="menu-icon"><i class="fa fa-cog"></i></div>
								<div class="menu-text">Settings</div>
							</a>
						</div>
						<div class="menu-item">
							<a href="javascript:;" class="menu-link">
								<div class="menu-icon"><i class="fa fa-pencil-alt"></i></div>
								<div class="menu-text"> Send Feedback</div>
							</a>
						</div>
						<div class="menu-item pb-5px">
							<a href="javascript:;" class="menu-link">
								<div class="menu-icon"><i class="fa fa-question-circle"></i></div>
								<div class="menu-text"> Helps</div>
							</a>
						</div>
						<div class="menu-divider m-0"></div>
					</div>
					<div class="menu-header">Navigation</div>
					<div class="menu-item has-sub">
						<a href="javascript:;" class="menu-link">
							<div class="menu-icon">
								<i class="fa fa-sitemap"></i>
							</div>
							<div class="menu-text">Gestión de Personas</div>
							<div class="menu-caret"></div>
						</a>
						<div class="menu-submenu">
							<div class="menu-item">
								<a href="adm/users_admin.html" class="menu-link"><div class="menu-text">Validación Cuentas de Usuario</div></a>
							</div>
							<div class="menu-item">
								<a href="index_v2.html" class="menu-link"><div class="menu-text">Directorio de Personas</div></a>
							</div>
						</div>
					</div>
					<div class="menu-item has-sub">
						<a href="javascript:;" class="menu-link">
							<div class="menu-icon">
								<i class="fa fa-chart-pie"></i>
							</div>
							<div class="menu-text">Noticias</div>
							<div class="menu-caret"></div>
						</a>
						<div class="menu-submenu">
							<div class="menu-item">
								<a href="chart-flot.html" class="menu-link">
									<div class="menu-text">Publicación de Noticias</div>
								</a>
							</div>
							<div class="menu-item">
								<a href="chart-js.html" class="menu-link">
									<div class="menu-text">Validación de Noticias</div>
								</a>
							</div>
						</div>
					</div>
					<div class="menu-item has-sub">
						<a href="javascript:;" class="menu-link">
							<div class="menu-icon">
								<i class="fa fa-map"></i>
							</div>
							<div class="menu-text">Gestión de Espacios</div>
							<div class="menu-caret"></div>
						</a>
						<div class="menu-submenu">
							<div class="menu-item">
								<a href="map_vector.html" class="menu-link">
									<div class="menu-text">Validación de Reservas</div>
								</a>
							</div>
						</div>
					</div>
					<div class="menu-item has-sub">
						<a href="javascript:;" class="menu-link">
							<div class="menu-icon">
								<i class="fa fa-image"></i>
							</div>
							<div class="menu-text">Campañas de Difusión</div>
							<div class="menu-caret"></div>
						</a>
						<div class="menu-submenu">
							<div class="menu-item">
								<a href="gallery.html" class="menu-link">
									<div class="menu-text">Notificaciones Masivas</div>
								</a>
							</div>
						</div>
					</div>
					
					<!-- BEGIN minify-button -->
					<div class="menu-item d-flex">
						<a href="javascript:;" class="app-sidebar-minify-btn ms-auto d-flex align-items-center text-decoration-none" data-toggle="app-sidebar-minify"><i class="fa fa-angle-double-left"></i></a>
					</div>
					<!-- END minify-button -->
				</div>
				<!-- END menu -->
			</div>
			<!-- END scrollbar -->
		</div>
		<div class="app-sidebar-bg"></div>
		<div class="app-sidebar-mobile-backdrop"><a href="#" data-dismiss="app-sidebar-mobile" class="stretched-link"></a></div>
		{% endblock %}
		<!-- END #sidebar -->
		
		<div id="content" class="app-content">
			<!-- BEGIN breadcrumb -->
			<ol class="breadcrumb float-xl-end">
				<li class="breadcrumb-item"><a href="javascript:;">Home</a></li>
				<li class="breadcrumb-item"><a href="javascript:;">Tables</a></li>
				<li class="breadcrumb-item"><a href="javascript:;">Managed Tables</a></li>
				<li class="breadcrumb-item active">Extension Combination</li>
			</ol>
			<!-- END breadcrumb -->
			<!-- BEGIN page-header -->
			<h1 class="page-header">Managed Tables - Extension Combination <small>header small text goes here...</small></h1>
			<!-- END page-header -->
			<!-- BEGIN row -->
			<div class="row">
				<!-- BEGIN col-2 -->
				
				<!-- END col-2 -->
				<!-- BEGIN col-10 -->
				<div class="col-xl-10 ui-sortable">
					<div class="panel panel-inverse">
						<!-- BEGIN panel-heading -->
						<div class="panel-heading ui-sortable-handle">
							<h4 class="panel-title">DataTable - Extension Combination</h4>
							<div class="panel-heading-btn">
								<a href="javascript:;" class="btn btn-xs btn-icon btn-default" data-toggle="panel-expand"><i class="fa fa-expand"></i></a>
								<a href="javascript:;" class="btn btn-xs btn-icon btn-success" data-toggle="panel-reload"><i class="fa fa-redo"></i></a>
								<a href="javascript:;" class="btn btn-xs btn-icon btn-warning" data-toggle="panel-collapse"><i class="fa fa-minus"></i></a>
								<a href="javascript:;" class="btn btn-xs btn-icon btn-danger" data-toggle="panel-remove"><i class="fa fa-times"></i></a>
							</div>
						</div>
						<!-- END panel-heading -->
						<!-- BEGIN panel-body -->
						<div class="panel-body">
                            <div id="data-table-combine_wrapper" class="dataTables_wrapper dt-bootstrap5 no-footer">
                                <div class="dataTables_wrapper dt-bootstrap">
                                    <div class="row">
                                        <div class="col-xl-7 d-block d-sm-flex d-xl-block justify-content-center">
                                            <div class="d-block d-lg-inline-flex me-0 me-md-3">
                                                <div class="dataTables_length" id="data-table-combine_length">
                                                    <label>Show 
                                                        <select name="data-table-combine_length" aria-controls="data-table-combine" class="form-select form-select-sm">
                                                            <option value="10">10</option>
                                                            <option value="25">25</option>
                                                            <option value="50">50</option>
                                                            <option value="100">100</option>
                                                        </select> entries
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="d-block d-lg-inline-flex">
                                                <div class="dt-buttons btn-group flex-wrap">
                                                    <button class="btn btn-secondary buttons-copy buttons-html5 btn-sm" tabindex="0" aria-controls="data-table-combine" type="button"><span>Copy</span></button>
                                                    <button class="btn btn-secondary buttons-csv buttons-html5 btn-sm" tabindex="0" aria-controls="data-table-combine" type="button"><span>CSV</span></button>
                                                    <button class="btn btn-secondary buttons-excel buttons-html5 btn-sm" tabindex="0" aria-controls="data-table-combine" type="button"><span>Excel</span></button>
                                                    <button class="btn btn-secondary buttons-pdf buttons-html5 btn-sm" tabindex="0" aria-controls="data-table-combine" type="button"><span>PDF</span></button>
                                                    <button class="btn btn-secondary buttons-print btn-sm" tabindex="0" aria-controls="data-table-combine" type="button"><span>Print</span></button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-5 d-flex d-xl-block justify-content-center">
                                            <div id="data-table-combine_filter" class="dataTables_filter">
                                                <label>Search:
                                                    <input type="search" class="form-control form-control-sm" placeholder="" aria-controls="data-table-combine">
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <table id="data-table-combine" class="table table-striped table-bordered align-middle dataTable no-footer dtr-inline" aria-describedby="data-table-combine_info" style="position: relative; width: 501px;">
                                        <thead>
                                            <tr>
                                                <th width="1%" class="sorting sorting_asc" tabindex="0" aria-controls="data-table-combine" rowspan="1" colspan="1" style="width: 17px;" data-column-index="0" aria-sort="ascending" aria-label=": activate to sort column descending"></th>
                                                <th width="1%" data-orderable="false" class="sorting_disabled" rowspan="1" colspan="1" style="width: 23px;" data-column-index="1" aria-label=""></th>
                                                <th class="text-nowrap sorting" tabindex="0" aria-controls="data-table-combine" rowspan="1" colspan="1" style="width: 105px;" data-column-index="2" aria-label="Nombres">Nombres</th>
                                                <th class="text-nowrap sorting" tabindex="0" aria-controls="data-table-combine" rowspan="1" colspan="1" style="width: 100px;" data-column-index="3" aria-label="Apellidos">Apellidos</th>
                                                <th class="text-nowrap sorting" tabindex="0" aria-controls="data-table-combine" rowspan=1 colspan="1" style="width: 98px;" data-column-index="4" aria-label="Email">Email</th>
                                                <th class="text-nowrap sorting" tabindex="0" aria-controls="data-table-combine" rowspan=1 colspan="1" style="width: 0px;" data-column-index="5" aria-label="Celular">Celular</th>
                                                <th class="text-nowrap sorting" tabindex="0" aria-controls="data-table-combine" rowspan=1 colspan="1" style="width: 0px;" data-column-index="6" aria-label="Comuna">Comuna</th>
                                                <th class="text-nowrap sorting" tabindex="0" aria-controls="data-table-combine" rowspan=1 colspan="1" style="width: 0px;" data-column-index="7" aria-label="Calle y Número">Calle y Número</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for usuario in usuarios %}
                                                <tr>
                                                    <td>{{ forloop.counter }}</td>  "{% static 'img/user/user-13.jpg' %}"
                                                    <td><img src= "{% static 'img/user/user-13.jpg' %}" class="rounded h-30px my-n1 mx-n1"></td>
                                                    <td>{{ usuario.nombres }}</td>
                                                    <td>{{ usuario.apellidos }}</td>
                                                    <td>{{ usuario.email }}</td>
                                                    <td>{{ usuario.celular }}</td>
                                                    <td>{{ usuario.comuna }}</td>
                                                    <td>{{ usuario.calle }} {{ usuario.numero_domicilio }}</td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                    <div class="row">
                                        <div class="col-md-5">
                                            <div class="dataTables_info" id="data-table-combine_info" role="status" aria-live="polite">Showing 1 to {{ usuarios|length }} of {{ usuarios|length }} entries</div>
                                        </div>
                                        <div class="col-md-7">
                                            <div class="dataTables_paginate paging_simple_numbers" id="data-table-combine_paginate">
                                                <ul class="pagination">
                                                    <li class="paginate_button page-item previous disabled" id="data-table-combine_previous"><a href="#" aria-controls="data-table-combine" data-dt-idx="0" tabindex="0" class="page-link">Previous</a></li>
                                                    <li class="paginate_button page-item active"><a href="#" aria-controls="data-table-combine" data-dt-idx="1" tabindex="0" class="page-link">1</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END panel-body -->
                        

					</div>
					<!-- END panel -->
				</div>
				<!-- END col-10 -->
			</div>
			<!-- END row -->
		</div>

			

	<!-- END #app -->
	
   <!--  archivos JavaScript  -->
   <script src="{% static 'js/vendor.min.js' %}"></script>
   <script src="{% static 'js/app.min.js' %}"></script>

   <!-- ================== BEGIN page-js ================== -->
	<!-- ================== BEGIN page-js ================== -->
	<link href="{% static 'plugins/datatables.net/js/jquery.dataTables.min.js' %}"></script>
	<link href="{% static 'plugins/datatables.net-bs5/js/dataTables.bootstrap5.min.js' %}"></script>
	<link href="{% static 'plugins/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
	<link href="{% static 'plugins/datatables.net-responsive-bs5/js/responsive.bootstrap5.min.js' %}"></script>
	<link href="{% static 'plugins/datatables.net-colreorder/js/dataTables.colReorder.min.js' %}"></script>
	<link href="{% static 'plugins/datatables.net-colreorder-bs5/js/colReorder.bootstrap5.min.js' %}"></script>
	<link href="{% static 'plugins/datatables.net-keytable/js/dataTables.keyTable.min.js' %}"></script>
	<link href="{% static 'plugins/datatables.net-keytable-bs5/js/keyTable.bootstrap5.min.js' %}"></script>
	<link href="{% static 'plugins/datatables.net-rowreorder/js/dataTables.rowReorder.min.js' %}"></script>
	<link href="{% static 'plugins/datatables.net-rowreorder-bs5/js/rowReorder.bootstrap5.min.js' %}"></script>
	<link href="{% static 'plugins/datatables.net-select/js/dataTables.select.min.js' %}"></script>
	<link href="{% static 'plugins/datatables.net-select-bs5/js/select.bootstrap5.min.js' %}"></script>
	<link href="{% static 'plugins/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
	<link href="{% static 'plugins/datatables.net-buttons-bs5/js/buttons.bootstrap5.min.js' %}"></script>
	<link href="{% static 'plugins/datatables.net-buttons/js/buttons.colVis.min.js' %}"></script>
	<link href="{% static 'plugins/datatables.net-buttons/js/buttons.flash.min.js' %}"></script>
	<link href="{% static 'plugins/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
	<link href="{% static 'plugins/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
	<link href="{% static 'plugins/pdfmake/build/pdfmake.min.js' %}"></script>
	<link href="{% static 'plugins/pdfmake/build/vfs_fonts.js' %}"></script>
	<link href="{% static 'plugins/jszip/dist/jszip.min.js' %}"></script>
	<link href="{% static 'js/demo/table-manage-combine.demo.js' %}"></script>
	<link href="{% static 'plugins/@highlightjs/cdn-assets/highlight.min.js' %}"></script>
	<link href="{% static 'js/demo/render.highlight.js' %}"></script>
	<!-- ================== END page-js ================== -->

</body>
</html>