{% load static %}

 <!--  archivos JavaScript  -->
 <script src="{% static 'js/vendor.min.js' %}"></script>
 <script src="{% static 'js/app.min.js' %}"></script>

 <!-- ================== BEGIN page-js ================== -->
  <!-- ================== BEGIN page-js ================== -->
  <link href="{% static 'plugins/datatables.net/js/jquery.dataTables.min.js' %}"></script>
  <link href="{% static 'plugins/datatables.net-bs5/js/dataTables.bootstrap5.min.js' %}"></script>
  <link href="{% static 'plugins/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
  <link href="{% static 'plugins/datatables.net-responsive-bs5/js/responsive.bootstrap5.min.js' %}"></script>
  <link href="{% static 'plugins/datatables.net-colreorder/js/dataTables.colReorder.min.js' %}"></script>
  <link href="{% static 'plugins/datatables.net-colreorder-bs5/js/colReorder.bootstrap5.min.js' %}"></script>
  <link href="{% static 'plugins/datatables.net-keytable/js/dataTables.keyTable.min.js' %}"></script>
  <link href="{% static 'plugins/datatables.net-keytable-bs5/js/keyTable.bootstrap5.min.js' %}"></script>
  <link href="{% static 'plugins/datatables.net-rowreorder/js/dataTables.rowReorder.min.js' %}"></script>
  <link href="{% static 'plugins/datatables.net-rowreorder-bs5/js/rowReorder.bootstrap5.min.js' %}"></script>
  <link href="{% static 'plugins/datatables.net-select/js/dataTables.select.min.js' %}"></script>
  <link href="{% static 'plugins/datatables.net-select-bs5/js/select.bootstrap5.min.js' %}"></script>
  <link href="{% static 'plugins/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
  <link href="{% static 'plugins/datatables.net-buttons-bs5/js/buttons.bootstrap5.min.js' %}"></script>
  <link href="{% static 'plugins/datatables.net-buttons/js/buttons.colVis.min.js' %}"></script>
  <link href="{% static 'plugins/datatables.net-buttons/js/buttons.flash.min.js' %}"></script>
  <link href="{% static 'plugins/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
  <link href="{% static 'plugins/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
  <link href="{% static 'plugins/pdfmake/build/pdfmake.min.js' %}"></script>
  <link href="{% static 'plugins/pdfmake/build/vfs_fonts.js' %}"></script>
  <link href="{% static 'plugins/jszip/dist/jszip.min.js' %}"></script>
  <link href="{% static 'js/demo/table-manage-combine.demo.js' %}"></script>
  <link href="{% static 'plugins/@highlightjs/cdn-assets/highlight.min.js' %}">
  <link href="{% static 'js/demo/render.highlight.js' %}">
  <link href="{% static 'plugins/datatables.net-bs5/css/dataTables.bootstrap5.min.css' %}"></script>
  <link href="{% static 'plugins/datatables.net-responsive-bs5/css/responsive.bootstrap5.min.css' %}">





  	<!-- ================== BEGIN core-js ================== -->
	<script src="{% static 'js/vendor.min.js' %}"></script>
	<script src="{% static 'js/app.min.js' %}"></script>
    <script src="{% static 'plugins/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'plugins/datatables.net-bs5/js/dataTables.bootstrap5.min.js' %}"></script>
    <script src="{% static 'plugins/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'plugins/datatables.net-responsive-bs5/js/responsive.bootstrap5.min.js' %}"></script>
	<!-- ================== END core-js ================== -->
	
	<!-- ================== BEGIN page-js ================== -->
	<script src="{% static 'plugins/lity/dist/lity.min.js' %}"></script> 
	<script src="{% static 'js/demo/profile.demo.js' %}"></script>
	<!-- ================== END page-js ================== -->
	
	<!-- ================== BEGIN page-module-js ================== -->
	<script type="module" src="{% static 'js/demo/gallery-v2.demo.js' %}"></script>
	
	<!-- ================== BEGIN page-css ================== -->
	<link href="{% static 'plugins/photoswipe/dist/photoswipe.css' %}" rel="stylesheet" />
	<link href="{% static 'plugins/lity/dist/lity.min.css' %}" rel="stylesheet" />

    <script src="{% static 'plugins/moment/min/moment.min.js' %}"></script>
	<script src="{% static 'js/demo/calendar.demo.js' %}"></script>
	<script src="{% static 'plugins/sweetalert/dist/sweetalert.min.js' %}"></script>

	