{% load static %} <!-- cargar la etiqueta static -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Iniciar Sesión</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />

    <!-- Cargar archivos CSS -->
    <link href="{% static 'css/vendor.min.css' %}" rel="stylesheet" />
    <link href="{% static 'css/default/app.min.css' %}" rel="stylesheet" />
	
</head>

<body class='pace-top'>

    <!-- BEGIN #app -->
    <div id="app" class="app">
        <!-- BEGIN register -->
        <div class="register register-with-news-feed">
            <!-- BEGIN news-feed -->
            <div class="news-feed">
                <div class="news-image" style="background-image: url('{% static 'img/login-bg/meeting.jpg' %}')"></div>
                <div class="news-caption">
                    <h4 class="caption-title"><b>Barrio</b>Link</h4>
                    <p>
                        En BarrioLink, estamos dedicados a fortalecer la unión entre nuestros vecinos y crear un ambiente
                        donde todos se sientan valorados y escuchados. Nuestra plataforma es el vínculo que conecta a
                        cada persona en nuestro barrio, proporcionando un espacio para compartir ideas, resolver problemas
                        y colaborar en proyectos que mejoren la calidad de vida en nuestra comunidad. Juntos, estamos
                        construyendo un futuro más brillante para la comunidad :.
                    </p>
                </div>
            </div>
            <!-- END news-feed -->

            <!-- BEGIN register-container -->
            <div class="register-container">
                <!-- BEGIN register-header -->
                <div class="register-header mb-25px h1">
                    <div class="mb-1">Registrarse</div>
                    <small class="d-block fs-15px lh-16">Regístrese para acceder a más contenidos y beneficios.</small>
                </div>
                <!-- END register-header -->

                <!-- BEGIN register-content -->
                <div class="register-content">
                    <form method="post" class="fs-13px"  id="registroForm" data-parsley-validate="true">
                        {% csrf_token %}
                        <div class="mb-3">
                            
                            <div class="row gx-3">
                                <div class="col-md-6 mb-2 mb-md-0">
									<label for="{{ form.nombres.id_for_label }}" class="mb-2">Nombre <span class="text-danger">*</span></label>
                                    <input name="nombres" type="text" class="form-control fs-13px text-left"
                                        placeholder="Nombre" />
                                </div>
								{% if form.nombres.errors %}
								<div class="text-danger fs-13px">
									{{ form.nombres.errors.as_text }}
								</div>
								{% endif %}
                                <div class="col-md-6">
									<label for="{{ form.apellidos.id_for_label }}" class="mb-2">Apellidos<span class="text-danger">*</span></label>
                                    <input name="apellidos" type="text" class="form-control fs-13px text-left"
                                        placeholder="Apellido" />
                                </div>
								{% if form.apellidos.errors %}
								<div class="text-danger fs-13px">
									{{ form.apellidos.errors.as_text }}
								</div>
								{% endif %}
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="{{ form.email.id_for_label }}" class="mb-2">Correo Electrónico <span
                                    class="text-danger">*</span></label>
                            <input name="email" type="text" class="form-control fs-13px text-left"
                                placeholder="Correo Electrónico" />
                        </div>
						{% if form.email.errors %}
								<div class="text-danger fs-13px">
									{{ form.email.errors.as_text }}
								</div>
								{% endif %}
                            </div>
                        <div class="mb-3">
                            <label for="{{ form.rut.id_for_label }}" class="mb-2">RUT <span class="text-danger">*</span></label>
                            <input name="rut" type="text" class="form-control fs-13px text-left" placeholder="RUT" maxlength="10" required />
                        </div>
                        <div class="mb-3">
                            <label for="{{ form.birth_date.id_for_label }}" class="mb-2">Fecha de Nacimiento <span
                                    class="text-danger">*</span></label>
                            <input name="birth_date" type="date" class="form-control fs-13px text-left"
                                placeholder="Fecha de Nacimiento" required />
                        </div>
                        <div class="mb-3">
                            <label for="{{ form.celular.id_for_label }}" class="mb-2">Celular <span class="text-danger">*</span></label>
                            <input name="celular" type="number" class="form-control fs-13px text-left"
                                placeholder="+569" min="0" pattern="[0-9]{9}" data-parsley-minlength="9" data-parsley-maxlength="9" required/>
                        </div>
                        <div class="mb-3">
                            <label for="{{ form.password1.id_for_label }}" class="mb-2">Contraseña <span
                                    class="text-danger">*</span></label>
                            <input name="password1" type="password" class="form-control fs-13px text-left"
                                placeholder="Contraseña" required/>
                        </div>
                        <div class="mb-3">
                            <label for="form.password2.id_for_label" class="mb-2">Confirmar Contraseña <span
                                    class="text-danger">*</span></label>
                            <input name="password2" type="password" class="form-control fs-13px text-left"
                                placeholder="Confirmar Contraseña" required/>
                        </div>
						</br>
						<div class="mb-4">
							<button type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions" class="btn btn-success d-block w-100 btn-lg h-45px fs-13px">Continuar</button>
                        </div>
						
						<div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel" style="width: 40%">
							<div class="offcanvas-header">
							<h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Registro de datos | Paso 2</h5>
							<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
							</div>
							<div class="offcanvas-body">
							<!-- BEGIN panel -->
							<div class="panel panel-inverse">
								<div class="panel-body">
									<div class="nav-wizards-container">
										<nav class="nav nav-wizards-1 mb-2">
											<div class="nav-item col">
												<a class="nav-link completed" href="#">
													<div class="nav-no">1</div>
													<div class="nav-text">Completar Datos Básicos</div>
												</a>
											</div>
											<div class="nav-item col">
												<a class="nav-link completed" href="#">
													<div class="nav-no">2</div>
													<div class="nav-text">Validación de datos y residencia</div>
												</a>
											</div>
											<div class="nav-item col">
												<a class="nav-link" href="#">
													<div class="nav-no">3</div>
													<div class="nav-text">Activación de Cuenta</div>
												</a>
											</div>
										</nav>
									</div>
	
									<div class="card row mb-3">
										<div class="row mb-3">
											<!-- BEGIN col-6 -->
											<div class="col-xl-12 ui-sortable">
												<!-- BEGIN panel -->
												<div class="panel panel-inverse" data-sortable-id="form-stuff-5">
													<!-- BEGIN panel-body -->
													<div class="panel-body">
														
															<!-- Nro Documento -->
															{% comment %} <div class="row mb-15px">
																<label for="{{ form.nro_documento.id_for_label }}" class="form-label col-form-label col-md-3">Nro Documento</label>
																<div class="col-md-9">
																	<input name="numero_documento" type="text" class="form-control mb-5px" placeholder="Nro Documento" />
																</div>
															</div> {% endcomment %}
															<!-- Select de Región -->
															<div class="row mb-15px">
																<label for="{{ form.region.id_for_label }}" class="form-label col-form-label col-md-3">Región</label>
																<div class="col-md-9">
																	<select id="id_region" name="region" class="form-select" data-parsley-required="true">
																		<!-- Opciones cargadas dinámicamente -->
																		{% for region in regiones %}
																			<option value="{{ region.id }}">{{ region.nombre }}</option>
																		{% endfor %}
																	</select>
																</div>
															</div>
															<!-- Select de Comuna -->
															<div class="row mb-15px">
																<label for="{{ form.comuna.id_for_label }}" class="form-label col-form-label col-md-3">Comuna</label>
																<div class="col-md-9">
																	<select id="id_comuna" name="comuna" class="form-select" data-parsley-required="true">
																		<!-- Opciones cargadas dinámicamente -->
																		{% for comuna in comunas %}
																			<option value="{{ comuna.id }}">{{ comuna.nombre }}</option>
																		{% endfor %}
																	</select>
																</div>
															</div>
															<!-- Calle -->
															<div class="row mb-15px">
																<label for="{{ form.calle.id_for_label }}" class="form-label col-form-label col-md-3">Calle</label>
																<div class="col-md-9">
																	<input name="calle" type="text" class="form-control mb-5px" placeholder="Calle" />
																</div>
															</div>
															<!-- Nro -->
															<div class="row mb-15px">
																<label for="{{ form.numero_domicilio.id_for_label }}" class="form-label col-form-label col-md-3">Nro</label>
																<div class="col-md-3">
																	<input name="numero_domicilio" type="number" class="form-control mb-5px" placeholder="Numeración"  min="0"/>
																</div>
															</div>
															<div class="row mb-15px">
																<label class="form-label col-form-label col-md-3">Boleta de servicios</label>
																<div class="col-md-9">
																	<input class="form-control" type="file" id="formFile" accept=".pdf, .png, .jpg">
																</div>
															</div>
															</br>
															<div class="form-check mb-4">
																<input class="form-check-input" type="checkbox" value="" id="agreementCheckbox" data-parsley-mincheck="1" />
																<label class="form-check-label" for="agreementCheckbox">
																	Al hacer clic en "Registrarse", acepta nuestros <a href="/sign_up_step_2">Términos</a>
																	y que has leído nuestra <a href="javascript:;">Política de Datos</a>, incluido nuestro
																	<a href="javascript:;">Uso de Cookies</a>.
																</label>
															</div>
															
														
													</div>
													<!-- END panel-body -->
												</div>
												<!-- END panel -->
							</div>
						</div>

                        <div class="mb-4 pb-5">
                            ¿Ya es miembro? Haga clic <a href="/login">aquí</a> para iniciar sesión.
                        </div>
                        <hr class="bg-gray-600 opacity-2" />
                        {% comment %}
                        <p class="text-center text-gray-600">
                            &copy; BarrioLink Todos los Derechos Reservados {{ year|date:"Y" }}
                        </p>
                        {% endcomment %}
						<div class="mb-4">
							<button data-bs-toggle="modal" href="#exampleModalToggle" class="btn btn-green d-block w-100 btn-lg h-45px fs-13px"
							  >Registrarse</button>
						</div>
                    </form>
					
                </div>
                <!-- END register-content -->
            <!-- END register-container -->
        </div>
        <!-- END register -->

    </div>


    <!-- END #app -->

    <!-- Archivos JavaScript -->
    <script src="{% static 'js/vendor.min.js' %}"></script>
    <script src="{% static 'js/app.min.js' %}"></script>

    <!-- ================== BEGIN page-js ================== -->
    <script src="{% static 'js/demo/login-v2.demo.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
	<script src="{% static 'plugins/parsleyjs/dist/parsley.min.js' %}"></script>


	<script>
		document.addEventListener('DOMContentLoaded', function () {
			var form = document.getElementById('registroForm');
	
			form.addEventListener('submit', function (event) {
				if (!validateForm()) {
					event.preventDefault(); // Detener el envío del formulario si la validación falla
				}
			});
	
			function validateForm() {
				var requiredFields = ['email', 'password1', 'password2', 'rut', 'birth_date', 'celular', 'nombres', 'apellidos'];
				var isValid = true;
	
				for (var i = 0; i < requiredFields.length; i++) {
					var fieldName = requiredFields[i];
					var inputElement = form.querySelector('[name="' + fieldName + '"]');
					var value = inputElement.value.trim();
	
					if (value === '') {
						isValid = false;
						// Puedes agregar un estilo de error o mostrar un mensaje de error aquí
						alert('Por favor, complete todos los campos obligatorios.');
						break; // No es necesario verificar los demás campos si uno falla
					}
				}
	
				return isValid;
			}
		});
	</script>

	<!--Script for render regiones and comunas-->
	<script>
		$(document).ready(function () {
			$('#id_region').change(function () {
				var regionId = $(this).val();
				if (regionId) {
					$.ajax({
						url: '/cargar-comunas/' + regionId + '/',
						type: 'GET',
						dataType: 'json',
						success: function (data) {
							actualizar_select('#id_comuna', data);
						}
					});
				} else {
					limpiar_select('#id_comuna');
				}
			});
		});
	
		function actualizar_select(selectId, data) {
			$(selectId).empty();
			$.each(data, function (key, value) {
				$(selectId).append('<option value="' + value.id + '">' + value.nombre + '</option>');
			});
		}
	
		function limpiar_select(selectId) {
			$(selectId).empty();
		}
	</script>


	

    <!-- ================== END page-js ================== -->
</body>

</html>
