{% load static %} <!-- cargar la etiqueta static -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Iniciar Sesión</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    
      <!-- Cargar archivos CSS -->
	  <link href="{% static 'css/vendor.min.css' %}" rel="stylesheet" />
	  <link href="{% static 'css/default/app.min.css' %}" rel="stylesheet" />
  </head>
  <body class="pace-done "><div class="pace pace-inactive"><div class="pace-progress" data-progress-text="100%" data-progress="99" style="transform: translate3d(100%, 0px, 0px);">
	<div class="pace-progress-inner"></div>
  </div>
  <div class="pace-activity"></div></div>
	  <!-- BEGIN #loader -->
	  <div id="loader" class="app-loader loaded">
		  <span class="spinner"></span>
	  </div>
	  <!-- END #loader -->
  
	  <!-- BEGIN #app -->
	  <div id="app" class="app app-header-fixed app-sidebar-fixed">
		  <!-- BEGIN #header -->
		  <div id="header" class="app-header">
			  <!-- BEGIN navbar-header -->
			  <div class="navbar-header">
				  <a href="index.html" class="navbar-brand"><span class="navbar-logo"></span> <b>Color</b> Admin</a>
				  <button type="button" class="navbar-mobile-toggler" data-toggle="app-sidebar-mobile">
					  <span class="icon-bar"></span>
					  <span class="icon-bar"></span>
					  <span class="icon-bar"></span>
				  </button>
			  </div>
			  <!-- END navbar-header -->
			  <!-- BEGIN header-nav -->
			  <div class="navbar-nav">
			
				  </div>
				  
				  
				  
			  </div>
			  <!-- END header-nav -->
		  </div>
		  <!-- END #header -->
	  
		  <!-- BEGIN #sidebar -->
		  
		  
		  <div class="app-sidebar-mobile-backdrop"><a href="#" data-dismiss="app-sidebar-mobile" class="stretched-link"></a></div>
		  
		  
		  <!-- BEGIN #content -->
		  <div id="content" class="app">
			  
			  
			  
			  <!-- BEGIN page-header -->
			  <h1 class="page-header"><small></small></h1>
			  <!-- END page-header -->
			  
			  
			  <!-- BEGIN row -->
			  <div class="row">
				  <!-- BEGIN col-6 -->
				  <div class="col-xl-12">
					  <!-- BEGIN panel -->
					  <div class="panel panel-inverse" >
						  <div class="panel-heading">
							  <h4 class="panel-title">Registro de Cuenta | Paso 2</h4>
							  
						  </div>
						  <div class="panel-body">
							  
					  
							  <div class="nav-wizards-container">
								  <nav class="nav nav-wizards-1 mb-2">
									  <div class="nav-item col">
										  <a class="nav-link completed" href="#">
											  <div class="nav-no">1</div>
											  <div class="nav-text">Completar Datos Básicos</div>
										  </a>
									  </div>
									  <div class="nav-item col">
										  <a class="nav-link completed" href="#">
											  <div class="nav-no">2</div>
											  <div class="nav-text">Validación de datos y residencia</div>
										  </a>
									  </div>
									  <div class="nav-item col">
										  <a class="nav-link" href="#">
											  <div class="nav-no">3</div>
											  <div class="nav-text">Activación de Cuenta</div>
										  </a>
									  </div>
									  
									  
								  </nav>
							  </div>
							  <div class="card row mb-3">
							  <div class="row mb-3">
				  <!-- BEGIN col-6 -->
				  <div class="col-xl-6 ui-sortable">
					  <!-- BEGIN panel -->
					  <div class="panel panel-inverse" data-sortable-id="form-stuff-5">
						  
						  
						  
						  <!-- BEGIN panel-body -->
						  <div class="panel-body">
							  <form>
								  <div class="row mb-15px">
									  <label class="form-label col-form-label col-md-3">Nombre Completo</label>
									  <div class="col-md-9">
										  <input type="email" class="form-control mb-5px" placeholder="name">
										  
									  </div>
								  </div>
								  <div class="row mb-15px">
									  <label class="form-label col-form-label col-md-3">RUT</label>
									  <div class="col-md-9">
										  <input type="email" class="form-control mb-5px" placeholder="name">
										  
									  </div>
								  </div><div class="row mb-15px">
									  <label class="form-label col-form-label col-md-3">Nro Documento</label>
									  <div class="col-md-9">
										  <input type="email" class="form-control mb-5px" placeholder="name">
										  
									  </div>
								  </div><div class="row mb-15px">
									  <label class="form-label col-form-label col-md-3">Example select</label>
									  <div class="col-md-9">
										  <select class="form-select">
											  <option>1</option>
											  <option>2</option>
											  <option>3</option>
											  <option>4</option>
											  <option>5</option>
										  </select>
									  </div>
								  </div>
								  
								  
								  <div class="row mb-15px">
									  <label class="form-label col-form-label col-md-3">Acreditación de domicilio(Boleta)</label>
									  <div class="col-md-9">
										  <input class="form-control" type="file" id="formFile">
									  </div>
								  </div>
							  </form>
						  </div>
						  <!-- END panel-body -->
						  
						  
						  
					  </div>
					  <!-- END panel -->
				  </div>
				  <!-- END col-6 -->
				  <!-- BEGIN col-6 -->
				  <div class="col-xl-6 ui-sortable">
					  <!-- BEGIN panel -->
					  <div class="panel panel-inverse" data-sortable-id="form-stuff-6">
						  <!-- BEGIN panel-heading -->
						  
						  <!-- END panel-heading -->
						  <!-- BEGIN panel-body -->
						  <div class="panel-body">
							  <form>
								  <div class="row mb-15px">
									  <label class="form-label col-form-label col-md-3">Región</label>
									  <div class="col-md-9">
										  <select class="form-select">
											  <option>1</option>
											  <option>2</option>
											  <option>3</option>
											  <option>4</option>
											  <option>5</option>
										  </select>
									  </div>
								  </div>
								  <div class="row mb-15px">
									  <label class="form-label col-form-label col-md-3">Comuna</label>
									  <div class="col-md-9">
										  <select class="form-select">
											  <option>1</option>
											  <option>2</option>
											  <option>3</option>
											  <option>4</option>
											  <option>5</option>
										  </select>
									  </div>
								  </div><div class="row mb-15px">
									  <label class="form-label col-form-label col-md-3">Calle</label>
									  <div class="col-md-9">
										  <input type="email" class="form-control mb-5px" placeholder="dirección">
										  
									  </div>
								  </div>
								  <div class="row form-group">
									  <label class="form-label col-form-label col-md-3">Nro</label>
									  <div class="col-md-9">
										  <div class="row">
											  <div class="col-md-6">
												  <input type="number" class="form-control mb-5px" placeholder="Numeración">
											  </div>
											  
										  </div>
									  </div>
								  </div>
								  <div class="row mb-15px">
									<label class="form-label col-form-label col-md-3">JJ.VV. a la cual desea registrarse</label>
									<div class="col-md-9">
										<select class="form-select" name="junta_de_vecinos">
											{% for junta in juntas %}
												<option value="{{ junta.hoa_id }}">{{ junta.hoa_name }}</option>
											{% endfor %}
										</select>
									</div>
								</div>
							  </form>
						  </div>
						  <!-- END panel-body -->
						  
						  
						  
					  </div>
					  <!-- END panel -->
				  </div>
				  <!-- END col-6 -->
			  </div>	
							  </div>
  <div class="row xs-3">
	  <div class="col-md-3 mx-auto">
		  <button type="submit" class="btn btn-primary d-block w-100 btn-lg h-45px fs-13px">Registrarse</button>
	  </div>
  </div></div>
  
  
						  
					  </div>
					  <!-- END panel -->
				  </div>
				  
				  
				  
				  
				  
				  
				  
				  
				  
			  </div>
			  <!-- END row -->
		  </div>
		  <!-- END #content -->
		  
		  
		  
		  
		  
		  
		  
	  </div>
	  <!-- END #app -->
	  
	  <!-- Archivos JavaScript -->
	  <script src="{% static 'js/vendor.min.js' %}"></script>
	  <script src="{% static 'js/app.min.js' %}"></script>
  
	  <!-- ================== BEGIN page-js ================== -->
	  <script src="{% static 'js/demo/login-v2.demo.js' %}"></script>
	  <!-- ================== END page-js ================== -->
  </body>
  </html>